@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');
body{
  font-family: 'Lato', sans-serif;
}

a, a:visited {
  color: #1F8A70;
}

a.pure-button, button.pure-button {
  color: #176653;
}

i.mdi {
  width: 17px;
}

.nav-link i.mdi {
  width: 35px;
}

.box-body {
	padding: 1em;
}

.top-nav {
  background-color: #1F8A70;
  height: 5em;
}

.logo-text {
  color: #fff;
  margin: 0.4em;
  display: block;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
}

.logo-img {
  color: #fff;
  vertical-align: bottom;
  fill: currentColor;
}

.logo-svg {
  display: inline-block;
  vertical-align: middle;
}

.logo-width {
  width: 19em;
}

svg path {
  fill: #fff;
}

a:hover svg path {
  fill: #b6e5d9;
}

form {
  margin: 0;
}

form.inline {
  display: inline-block;
}

table.table-fixed {
  table-layout: fixed;
}

.table-fixed td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pure-form-aligned .pure-control-group label {
  max-width: 10%;
}

.pure-form-aligned .pure-control-group input.cmn-toggle-round + label {
  width: 60px;
}

.top-margin {
  margin-top: 2em;
}

.no-top-padding {
  padding-top: 0;
}

.box-with-tree {
  margin-left: 29em;
  overflow-y: scroll;
}

#response {
  position: relative;
}

#btn-rsp {
  position: absolute;
  right: 0;
}

.nobg.codehilite, .nobg pre {
  background-color: inherit;
}

.layout-with-tree {
  margin-left: -20em;
}

.top-bar {
  border-top: 1px solid rgba(120,130,140,.13);
}

.large-field {
	width: 40em;
	max-width: 80%;
}

.text-muted {
	opacity: 0.6;
}

.header-key {
	width: 15em;
	max-width: 30%;
}

.header-value {
  width: 30em;
  max-width: 60%;
}

.fixed-container {
  overflow-y: auto;
  height: 200px;
}

.top-space {
  background-color: #fff;
}

.nopadding pre {
  padding: 0;
}

tr.stripped{ /*:nth-child(odd){*/
  background-color: rgba(0,0,0,.025);
}

.fixed-container th {
  height: 2em;
}

table.fixed-header {
  table-layout: fixed;
  border-collapse: separate;
}

.fixed-width-time {
  width: 6em;
  overflow-wrap: break-word;
}

.fixed-width-origin {
  width: 10em;
  overflow-wrap: break-word;
}

.fixed-width-status {
  width: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.fixed-width-name {
  width: 10em;
}

.fixed-width-method {
  width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-width-url {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-spacing: 0;
}

.fixed-width-url span {
  font-size: 18px;
}

.fixed-url {
  text-overflow: ellipsis;
  overflow: hidden;
}

.link-domain {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  vertical-align: top;
  display: inline-block;
}

/*th div{
  position: absolute;
  top: 13em;
  line-height: normal;
}*/

.pure-control-group {
  margin-bottom: 1em;
}

.pure-menu-selected {
  background-color: #eaeaea;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.large-select {
  height: 2em;
}

.clickable-row {
  cursor: pointer;
}

table tr.clickable-row:hover {
  background-color: #efefef;
}

.response-status, .response-content {
  cursor: pointer;
}

.response-content-data-json {
  padding: 1em 0;
}

.status-200, .status-200:link, .status-200:visited {
	color: #50c154;
}

.status-300, .status-300:link, .status-300:visited {
	color: #00bcd4;
}

.status-400, .status-400:link, .status-400:visited {
	color: #c62828;
}

.status-500, .status-500:link, .status-500:visited {
	color: #f44336;
}


.method-GET, .method-GET:link, .method-GET:visited {
	color: #0D679C;
}

.method-POST, .method-POST:link, .method-POST:visited {
	color: #8e44ad;
}

.method-DELETE, .method-DELETE:link, .method-DELETE:visited {
	color: #c0392b;
}

.method-PUT, .method-PUT:link, .method-PUT:visited {
	color: #e67e22;
}

.type-string {
  color: blue;
}

.type-boolean {
  color: green;
}

.type-number {
  color: pink;
}

.type-date {
  color: yellow;
}

.type-array {
  color: grey;
}

.type-object {
  color: brown;
}

.type-null {
  color: orange;
}

html {
  background-color: #e0e0e0;
}


.hidden{
  display: none;
}

.container {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin: 0 auto;
}

#curl-cmd, .clear {
  clear: both;
  word-break: break-all;
}

.doc-view {
  margin-left: 20em;
}

.top-menu {
  margin-bottom: 20px;
}

body {
  font-size: .875rem;
  color: rgba(0,0,0,.75);
  background-color: #f0f0f0;
}

a.underline:hover {
  text-decoration: underline;
}

.b-t {
  border-top: 9px solid rgba(120,130,140,.13);
}

table {
  font-size: 18px;
}

table.headers {
  word-break: break-word;
}

table.headers td.key {
  width: 15em;
  font-size: 0.9em;
  text-align: right;
  font-weight: 400;
}

table.headers td {
  font-weight: 300;
}

.table-header-value, .break-all {
  word-break: break-all;
}

td, th {
  padding: 7px 10px;
  line-height: 1.5;
  border: 1px solid transparent;
}

th.active, td.active {
	width: 5em;
}

th.delete, td.delete {
	width: 3em;
}

/*tbody>tr:nth-child(odd) {
  background-color: rgba(0,0,0,.025);
}*/

th {
  border-bottom: 2px solid #eceeef;
  vertical-align: bottom;
  text-align: left;
}

pre.curl {
  word-break: break-all;
  font-size: 16px;
}

pre {
  margin: 0;
  word-break: break-all;
}

#response pre {
  font-size: 15px;
}
.codehilite {
  padding: 1em;
}

.url {
	font-weight: normal;
}

div.url {
  word-break: break-all;
}

.input-icon {
  font-family: Arial, FontAwesome;
}

input[type=search]::-webkit-search-cancel-button {
   -webkit-appearance: searchfield-cancel-button;
    display: block;
   -webkit-flex: none;
   -webkit-align-self: flex-start;
    margin: auto 0;
}

.top-right {
  float: right;
}

.top-left {
  float: left;
}

.top-right-method {
  margin-top: -2px;
}

.full-width {
  width: 100%;
}

div.right {
	text-align: right;
	margin: 5px;
}

.link-messages {
	float: right;
}

.bottom-padding-form {
	padding-bottom: 1em;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.box-radius, .box-radius-top {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.box-radius, .box-radius-bottom, .box-radius-bottom-right {
  border-bottom-right-radius: 0.5em;
}

.box-radius, .box-radius-bottom, .box-radius-bottom-left {
  border-bottom-left-radius: 0.5em;
}

.tree {
  float: left;
  width: 29em;
  padding: 1em 0.5em 1em 1em;
  background-color: #f8f8f8;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+0,f8f8f8+100&1+0,1+89,0+99 */
  background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 89%, rgba(248,248,248,0) 99%, rgba(248,248,248,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(248,248,248,1) 89%,rgba(248,248,248,0) 99%,rgba(248,248,248,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(248,248,248,1) 89%,rgba(248,248,248,0) 99%,rgba(248,248,248,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#00f8f8f8',GradientType=0 ); /* IE6-9 */
}

.padding {
  padding: 1.5rem;
}

.app-header {
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 1020;
  position: fixed;
  top:0;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
}

.app-body {
  padding-top: 3.5rem;
}

.box-header {
  padding: 1rem;
}

.text-md {
	font-size: 1.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .5rem;
	color: rgba(0,0,0,.87);
	font-weight: 500;
}

.capitalize {
  font-variant: small-caps;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.btn:hover {
  box-shadow: inset 0 -10rem 0 rgba(158,158,158,.1);
  border-color: #cbcbcb;
}

.btn {
  background-color: #fff;
  padding: .15rem .45rem;
  font-size: .875rem;
  border: 1px solid #eaeaea;
  border-radius: .25rem;
}

.top-button {
  padding-bottom: 1em;
  height: 3em;
}

.navbar::after {
  display: table;
  clear: both;
  content: "";
}

.nav {
  list-style: none;
  text-align: left;
  padding: 0.5em 1em 0;
  margin: 0;
  font-size: 2em;
}

.nav-item {
  display: inline-block;
  text-align: center;
  width: 10%;
  min-width: 80px;
  max-width: 85px;
}

.nav-item+.nav-item {
  padding-left: 0.5rem;
}

.nav-link {
  line-height: 2rem;
  white-space: nowrap;
  color: #edf3f1;
  text-shadow: 1px 1px 2px #295b4e;
}

.nav-link:visited {
  color: #edf3f1;
}

.nav-link:hover {
  color: #b6e5d9!important;
  text-shadow: 1px 1px 2px #475954;
}

.nav-text {
  display: inline-block;
  line-height: 1;
}

.nav-text span {
  margin-top: .25rem;
  display: block;
  font-size: .75rem;
}

.text-muted {
  opacity: .6;
  margin-top: 0;
}

.path {
  display: none;
}

.tree-link {
  display: block;
  font-weight: 200;
}

.tree-link-selected {
  font-weight: 500;
}

.tree-link:hover {
  background-color: #ebebeb;
}

.path-tree {
  color: black;
  vertical-align: bottom;
}

.path-container {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.center {
  text-align: center;
}

.statuses {
  padding: 0;
  margin: 0;
}

.content-schema {
  color: #595959;
  padding: 0;
}

ul.content-schema li {
  display: inline;
  margin-right: 1em;
}

ul.schema {
  list-style: none;
  margin: 0;
}

ul.root, ul.root ul {
  list-style: none;
  padding: 0;
}

ul.root > li > .path {
  font-weight: bold;
  display: block;
}

ul.root > li > ul {
  list-style: none;
  padding: 0;
}

/*ul.root > li > ul > li > .path {
  font-size: 1.5em;
  font-weight: 400;
  display: block;
}*/

ul.root ul.group {
}

ul.group {
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.endpoint {
  list-style: none;
  padding: 0;
}

ul.list-content {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-size: 20px;
}

.response-content-data-json {
  margin-left: 2em;
}

.method {
  width: 3em;
  display: inline-block;
}

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  border-color: rgba(120,130,140,.2);
  border-radius: 0px;
  box-shadow: none;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
	border-color: rgba(120,130,140,.3);
}

.pure-button {
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.2em;
}

a.pure-button-primary, button.pure-button-primary {
  text-shadow: none;
  color: #f6fdfd;
  border-color: #377163;
  background-color: #1F8A70;
  text-shadow: 1px 1px 3px #1a6654;
}

.pure-button-primary:hover {
  text-shadow: 1px 1px 3px #377163;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
  border-color: #10872c;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.recording {
  background: rgb(202, 60, 60);
  border-color: #a03030;
}

