@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box-body {
	padding: 1em;
}

.no-top-padding {
  padding-top: 0;
}

.box-with-tree {
  margin-left: 20em;
}

.layout-with-tree {
  margin-left: -20em;
}

.top-bar {
  border-top: 1px solid rgba(120,130,140,.13);
}

.large-field {
	width: 40em;
}

.text-muted {
	opacity: 0.6;
}

.header-key {
	width: 15em;
}

.header-value {
  width: 30em;
}

.fixed-container {
  overflow-y: auto;
  height: 200px;
}

.top-space {
  background-color: #fff;
}

.nopadding pre {
  padding: 0;
}

tr.stripped{ /*:nth-child(odd){*/
  background-color: rgba(0,0,0,.025);
}

.fixed-container th {
  height: 2em;
}

table.fixed-header tbody {
  display: block;
  overflow: scroll;
  height: 300px;
}

table.fixed-header thead tr {
  position: relative;
  display: block;
}

table.fixed-header td,
table.fixed-header th {
}
    
.fixed-width-time {
  width: 6em;
}

.fixed-width-origin {
  width: 10em;
}

.fixed-width-status {
  width: 5em;
  white-space: nowrap;
}

.fixed-width-method {
  width: 5em;
}

.fixed-width-url {
  min-width: 40em;
}


/*th div{
  position: absolute;
  top: 13em;
  line-height: normal;
}*/
.pure-control-group {
  margin-bottom: 1em;
}

.large-select {
  height: 2em;
}

.status-200 {
	color: #4caf50;
}

.status-300 {
	color: #00bcd4;
}

.status-400 {
	color: #c62828;
}

.status-500 {
	color: #f44336;
}


.method-get {
	color: #0D679C;
}

.method-post {
	color: #8e44ad;
}

.method-delete {
	color: #c0392b;
}

.method-put {
	color: #e67e22;
}

.type-string {
  color: blue;
}

.type-boolean {
  color: green;
}

.type-number {
  color: pink;
}

.type-date {
  color: yellow;
}

.type-array {
  color: grey;
}

.type-object {
  color: brown;
}

.type-null {
  color: orange;
}

html {
  background-color: #e0e0e0;
}


.hidden{
  display: none;
}

.container {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin: 0 auto;
}

#curl-cmd, .clear {
  clear: both;
  word-break: break-all;
}

.doc-view {
  margin-left: 20em;
}

.top-menu {
  margin-bottom: 20px;
}

body {
  font-size: .875rem;
  color: rgba(0,0,0,.87);
  background-color: #f0f0f0;
}

.b-t {
  border-top: 9px solid rgba(120,130,140,.13);
}

table {
  font-size: 18px;
}

table.headers {
  word-break: break-word;
  
}

table.headers td.key {
  width: 15em;
  text-align: right;
  vertical-align: top;
  font-weight: 400;
}

table.headers td {
  font-weight: 300;
}

td, th {
  padding: 7px 10px;
  border-color: rgba(120,130,140,.045);
  border-top: 1px solid #eceeef;
  line-height: 1.5;
}

th.active, td.active {
	width: 5em;
}

th.delete, td.delete {
	width: 2em;
}

/*tbody>tr:nth-child(odd) {
  background-color: rgba(0,0,0,.025);
}*/

th {
  border-bottom: 2px solid #eceeef;
  vertical-align: bottom;
  text-align: left;
}

pre.curl {
  word-break: break-all;
  font-size: 16px;
}

pre {
  margin: 0;
}

#response pre {
  font-size: 15px;
}
pre {
  padding: 1em;
}

.url {
	font-weight: normal;
}

div.url {
  word-break: break-all;
}

.input-icon {
  font-family: Arial, FontAwesome;
}

input[type=search]::-webkit-search-cancel-button {
   -webkit-appearance: searchfield-cancel-button;
    display: block;
   -webkit-flex: none;
   -webkit-align-self: flex-start;
    margin: auto 0;
}

.top-right {
  float: right;
}

#curl, #btn-rsp, #onClear {
  float: right;
}

.full-width {
  width: 100%;
}

div.right {
	text-align: right;
	margin: 5px;
}

.link-messages {
	float: right;
}

.bottom-padding-form {
	padding-bottom: 1em;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.tree {
  float: left;
  width: 20em;
  padding: 1em 0.5em 1em 1em;
  background-color: #f8f8f8;
}

.padding {
  padding: 1.5rem;
}

.app-header {
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 1020;
  position: fixed;
  top:0;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
}

.app-body {
  padding-top: 3.5rem;
}

.box-header {
  padding: 1rem;
}

.text-md {
	font-size: 1.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .5rem;
	color: rgba(0,0,0,.87);
	font-weight: 500;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.btn:hover {
  box-shadow: inset 0 -10rem 0 rgba(158,158,158,.1);
}

.btn {
  background-color: #fff;
  padding: .35rem .45rem;
  font-size: .875rem;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.top-button {
  padding-bottom: 1em;
}

.navbar::after {
  display: table;
  clear: both;
  content: "";
}

.nav {
  list-style: none;
  text-align: left;
  background-color: #fff;
  padding: 1em 2em;
  margin: 0;
}

.nav-item {
  display: inline-block;
  text-align: center;
}

.nav-item+.nav-item {
  padding-left: 1rem;
}

.nav-link {
  line-height: 4rem;
  white-space: nowrap;
}

.nav-link:hover {
  color: #0cc2aa!important;
}

.nav-text {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
}

.nav-text span {
  margin-top: .25rem;
  display: block;
  font-size: .75rem;
}

.text-muted {
  opacity: .6;
  margin-top: 0;
}

.path {
  display: none;
}

.tree-link {
  padding: 5px 0;
  font-weight: 200;
}

.tree-link-selected {
  font-weight: 500;
}

.tree-link:hover {
  background-color: #ebebeb;
}

.path-tree {
  color: black;
  width: 13em;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
}

.center {
  text-align: center;
}

.content-schema {
  color: #595959;
}

ul.schema {
  list-style: none;
  margin: 0;
}

ul.root, ul.root ul {
  list-style: none;
  padding: 0;
  margin: 3px 0 5px;
}

ul.root > li > .path {
  font-weight: bold;
}

ul.root > li > ul {
  list-style: none;
  padding: 0;
}

ul.root > li > ul > li > .path {
  font-size: 1.5em;
  font-weight: 400;
  display: block;
}

ul.root > li > ul.group > li {
  margin-bottom: 2em;
}

.method {
  width: 5em;
  display: inline-block;
}

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  border-color: rgba(120,130,140,.2);
  border-radius: 0px;
  box-shadow: none;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
	border-color: rgba(120,130,140,.3);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.recording {
  background: rgb(202, 60, 60);
}

