@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fixed-container {
  overflow-y: auto;
  height: 200px;
}

.top-space {
  background-color: #fff;
}

.fixed-container th {
  height: 2em;
}

table.fixed-header tbody {
  display: block;
  overflow: scroll;
  height: 300px;
}

table.fixed-header thead tr {
  position: relative;
  display: block;
}

table.fixed-header td,
table.fixed-header th {
}
    
.fixed-width-time {
  width: 6em;
}

.fixed-width-origin {
  width: 9em;
}

.fixed-width-status {
  width: 5em;
  white-space: nowrap;
}

.fixed-width-method {
  width: 5em;
}

.fixed-width-url {
  width: 50em;
}


/*th div{
  position: absolute;
  top: 13em;
  line-height: normal;
}*/

.protocol {
  height: 2em;
}

.status-200 {
	color: #4caf50;
}

.status-300 {
	color: #00bcd4;
}

.status-400 {
	color: #c62828;
}

.status-500 {
	color: #f44336;
}


.method-get {
	color: #0D679C;
}

.method-post {
	color: #8e44ad;
}

.method-delete {
	color: #c0392b;
}

.method-put {
	color: #e67e22;
}

html {
  background-color: #e0e0e0;
}


.hidden{
  display: none;
}

.container {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin: 0 auto;
}

#curl-cmd {
  clear: both;
}

.top-menu {
  margin-bottom: 20px;
}

body {
  font-size: .875rem;
  color: rgba(0,0,0,.87);
  background-color: #f0f0f0;
}

.b-t {
  border-top: 9px solid rgba(120,130,140,.13);
}

table {
  font-size: 18px;
  width: 100%;
}

table.headers {
  word-break: break-word;
  
}

table.headers td.key {
  width: 200px;
  text-align: right;
  vertical-align: top;
}

td, th {
  padding: 7px 16px;
  border-color: rgba(120,130,140,.045);
  border-top: 1px solid #eceeef;
  line-height: 1.5;
}

th.active, td.active {
	width: 5em;
}

th.delete, td.delete {
	width: 2em;
}

/*tbody>tr:nth-child(odd) {
  background-color: rgba(0,0,0,.025);
}*/

th {
  border-bottom: 2px solid #eceeef;
  vertical-align: bottom;
  text-align: left;
}

pre.curl {
  word-break: break-all;
  font-size: 16px;
}

pre {
  margin: 0;
}

#response pre {
  font-size: 15px;
}
pre {
  padding: 1em;
}

.url {
	font-weight: normal;
}

div.url {
  word-break: break-all;
}

#curl, #btn-rsp {
  float: right;
}

div.right {
	text-align: right;
	margin: 5px;
}

.link-messages {
	float: right;
}

.bottom-padding-form {
	padding-bottom: 1em;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.padding {
  padding: 1.5rem;
}

.app-header {
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 1020;
  position: fixed;
  top:0;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
}

.app-body {
  padding-top: 3.5rem;
}

.box-header {
  padding: 1rem;
}

.text-md {
	font-size: 1.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .5rem;
	color: rgba(0,0,0,.87);
	font-weight: 500;
}

h2 {
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.btn:hover {
  box-shadow: inset 0 -10rem 0 rgba(158,158,158,.1);
}

.btn {
  background-color: #fff;
  padding: .35rem .45rem;
  font-size: .875rem;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.top-button {
  padding-bottom: 1em;
}

.navbar::after {
  display: table;
  clear: both;
  content: "";
}

.nav {
  list-style: none;
  text-align: left;
  background-color: #fff;
  padding: 1em 2em;
  margin: 0;
}

.nav-item {
  display: inline-block;
  text-align: center;
}

.nav-item+.nav-item {
  padding-left: 1rem;
}

.nav-link {
  line-height: 4rem;
  white-space: nowrap;
}

.nav-link:hover {
  color: #0cc2aa!important;
}

.nav-text {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
}

.nav-text span {
  margin-top: .25rem;
  display: block;
  font-size: .75rem;
}

.text-muted {
  opacity: .6;
}

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  border-color: rgba(120,130,140,.2);
  border-radius: 0px;
  box-shadow: none;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
	border-color: rgba(120,130,140,.3);
}
