<html>
  <head>
    <title>{% block title %}MockProxy{% end %}</title>
    <link rel="stylesheet" href="/static/pure-min.css" type="text/css">
    <link rel="stylesheet" href="/static/grids-responsive-min.css" type="text/css">
    <link rel="stylesheet" href="/static/pure-main-grids-baby-blue-1.15.3.css" type="text/css">
    <link rel="stylesheet" href="/static/main.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/static/jquery-ui.min.css">
    {% block stylesheets %}
    {% end %}
    {% block javascripts %}
    {% end %}
  </head>
  <body>
    {% block content %}
    {% end %}
  </body>
</html>
