{% extends "default.html" %}
{% block title %}Add a new host{% end %}
{% block content %}
    <div id="main" class="box">
      <div class="box-header">
        <h2>Add Host</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">

    <div class="pure-form-stacked">
    
    <div class="pure-control-group">
    <label for="host">Host</label>
    <input type="text" class="large-field" name="host" {% if host %}value="{{ host }}"{% elif entry %}value="{{ entry['request']['host'] }}"{% end %} placeholder="google.com" />
    </div>

    <div class="pure-control-group">
    <label for="groupindex">Group</label>
    <input type="text" name="groupindex" {% if groupindex %}value="{{ groupindex }}"{% end %} placeholder="1" />
    </div>

    </div>
    </div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Add</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

</div>
</div>

{% end %}
