{% extends "default.html" %}
{% block title %}List of hosts{% end %}
{% block content %}
<div class="top-button">
    <a class="pure-button pure-button-primary" href="/docsettings/add">Add Host</a>
    <a class="pure-button pure-button-primary" href="/documentation/add">Add Endpoint</a>
    <a class="pure-button top-right" href="/documentation"><i class="mdi mdi-file-document"></i> View Endpoints</a>
</div>
<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table class="full-width">
  <thead>
    <th class="active">
      Record
    </th>
    <th>
      Host
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for num, key in enumerate(sorted(items)) %}
{% set row = items[key] %}
  <tr>
    <td>
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="{% if row['active'] %}disable{% else %}enable{% end %}" />
        <input type="hidden" name="host" value="{{ row['host'] }}" />
        <input type="checkbox" id="cmn-toggle-{{ row['_id'] }}" class="cmn-toggle cmn-toggle-round" {% if row['active'] %}checked="checked"{% end %} />
        <label for="cmn-toggle-{{ row['_id'] }}"></label>
      </form>
    </td>
    <td>
      <a class="underline" href="/documentation/host/{{ row['host'] }}">
      {{ row['host'] }}
      </a>
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          {% if row['exists'] %}
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
          {% end %}
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this document?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/docsettings", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
    });
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var host = evt.target.parentNode.querySelector('input[name=host]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/docsettings", {ident: id, action: action, host: host});
      
    });
</script>
{% end %}
