<ul class="{% if fullpath == '/' %}root{% end %}">
{% for path, values in tree['children'].iteritems() %}
<li>
	<span class="path">{{ path }}</span>
	<div>
<ul>
    {% for method, statuses in values['methods'].iteritems() %}
	<li>
		<a href="/documentation/endpoint/{{ host }}?path={{ fullpath }}{{ path }}&method={{ method }}">
			<span class="method method-{{ method }}">{{ method }}</span> <span class="path-tree-link">{{ fullpath }}{{ path }}</span>
		</a>
	</li>
	{% end %}
</ul>
	</div>
	{% raw render_tree(host, values, fullpath + path) %}
</li>
{% end %}
</ul>
