{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="top-button">
    <a class="pure-button pure-button-primary" href="/docsettings/add">Add Host</a>
    <a class="pure-button pure-button-primary" href="/documentation/add{% if host %}?host={{ host }}{% end %}">Add Endpoint</a>
    <div class="top-right">
    {% if host %}<a class="pure-button" href="/documentation"><i class="mdi mdi-close-circle"></i> Host: {{ host }}</a>{% end %}
    <a class="pure-button" href="/docsettings"><i class="mdi mdi-web"></i> View Hosts</a>
    </div>
</div>
<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table class="full-width table-fixed clickable-row-table">
  <thead>
    <th class="fixed-width-method">
      Method
    </th>
    <th class="fixed-width-status">
      Status
    </th>
    <th>
      Host
    </th>
    <th>
      Endpoint
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for row in items %}
<tr class="clickable-row" data-href="/documentation/edit/{{ row['_id'] }}">
    <td>
      <a href="/documentation/edit/{{ row['_id'] }}">
<span class="method-{{ row['request']['method'] }}">{{ row['request']['method'] }}</span>
      </a>
    </td>
    <td>
<span class="status-{{ (row['response']['status']/100)*100 }}">{{ row['response']['status'] }}</span>
    </td>
    <td>
      <a href="/documentation/host/{{ row['request']['host'] }}">
      {{ row['request']['host'] }}
      </a>
    </td>
    <td>
      <a href="/documentation/endpoint/{{ row['request']['host'] }}?{% if row['request']['path'] %}path={{ row['request']['path'] }}&{% end %}method={{ row['request']['method'] }}">
      {% if row['request']['path'] %}{{ row['request']['path'] }}{% else %}/{% end %}
      </a>
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this document?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/documentation", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
      return false;
    });
$(".clickable-row-table").on("click", ".clickable-row", function(evt) {
    if (evt.target.nodeName != 'A') {
        location.href = $(this).data("href");
    }
});
</script>
{% end %}
