{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table class="full-width">
  <thead>
    <th>
      Method
    </th>
    <th>
      Status
    </th>
    <th>
      Host
    </th>
    <th>
      Path
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for row in items %}
  <tr>
    <td>
      {{ row['request']['method'] }}
    </td>
    <td>
      {{ row['response']['status'] }}
    </td>
    <td>
      <a href="/documentation/host/{{ row['request']['host'] }}">
      {{ row['request']['host'] }}
      </a>
    </td>
    <td>
      <a href="/documentation/view/{{ row['_id'] }}">
      {{ row['request']['path'] }}
      </a>
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this document?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/documentation", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
    });
</script>
{% end %}
