{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="box">

  <div class="layout">
    <div class="box-header">
      <h2>{{ host }}{% if entry is not None %}{{ entry['request']['path'] }}{% end %}</h2>
    </div>

    <div class="box-body b-t">
      <div class="tree">
{% raw render_tree(host, tree) %}
      </div>
      {% if entry is not None %}
      {% raw render_document(entry) %}
      {% end %}
      <div class="clear"></div>
    </div>


  </div>
</div>

{% end %}
