<ul class="{% if fullpath == '/' %}root{% else %}group{% end %}">
{% for path, values in tree['children'].iteritems() %}
<li>
	<span class="path">{{ path }}</span>
	<div>
<ul>
    {% for method, statuses in values['methods'].iteritems() %}
	<li>
		<a class="tree-link{% if fullpath + path == currentpath and method == currentmethod %} tree-link-selected{% end %}" href="/documentation/endpoint/{{ host }}?path={{ fullpath }}{{ path }}&method={{ method }}">
			<span class="method method-{{ method }}">{{ method }}</span> <span class="path-tree">{{ fullpath }}{{ path }}</span>
		</a>
	</li>
	{% end %}
</ul>
	</div>
	{% raw render_tree(host, values, currentpath, fullpath + path, currentmethod, hostsettings) %}
</li>
{% end %}
</ul>
