{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table>
  <thead>
    <th>
      Method
    </th>
    <th>
      Host
    </th>
    <th>
      Path
    </th>
  </thead>
  <tbody>
{% for row in items %}
  <tr>
    <td>
      {{ row['request']['method'] }}
    </td>
    <td>
      {{ row['request']['host'] }}
    </td>
    <td>
      <a href="/documentation/{{ row['_id'] }}">
      {{ row['request']['path'] }}
      </a>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

{% end %}
