{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="top-button">
  <a class="pure-button pure-button-primary" href="/documentation/add?host={{ host }}">Add Entry</a>
  <div class="top-right">
  <a class="pure-button" href="/documentation/api/{{ host }}?raw=1">Raw</a>
  <a class="pure-button" href="/documentation/api/{{ host }}?download=1">Download</a>
  </div>
</div>
<div class="box">

  <div class="layout">
    <div class="box-header">
      {% if method %}
      <div class="top-right top-right-method">
      <span class="method-{{ method }}">{{ method }}</span>
      </div>
      {% else %}
      {% set itemid = row['_id'] if row is not None else ObjectId() %}
      <div class="top-right">
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ itemid }}" />
        <input type="hidden" name="action" value="{% if row is not None and row['active'] %}disable{% else %}enable{% end %}" />
        <input type="hidden" name="host" value="{{ host }}" />
        <input type="checkbox" id="cmn-toggle-{{ itemid }}" class="cmn-toggle cmn-toggle-round" {% if row is not None and row['active'] %}checked="checked"{% end %} />
        <label for="cmn-toggle-{{ itemid }}"></label>
      </form>
      </div>
      {% end %}
      <h2 class="url"><a href="/documentation/{% if currentpath %}host{% else %}api{% end %}/{{ host }}">{{ host }}</a>{% if currentpath %}{{ currentpath }}{% end %}</h2>
    </div>
  </div>
</div>


{% if tree %}
      <div class="tree box">
{% raw render_tree(host, tree, currentpath, '', method, row) %}
      </div>
{% end %}
<div class="box box-with-tree">

  {% if method is not None %}
  <div class="layout layout-with-tree">
    <div class="box-body">
      {% raw render_document(entries, method, host) %}
      <div class="clear"></div>
    </div>

  </div>
  {% end %}
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var host = evt.target.parentNode.querySelector('input[name=host]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/docsettings", {ident: id, action: action, host: host});
      
    });
</script>
{% end %}
