{% block stylesheets %}
<link href="/static/default.css" media="all" rel="stylesheet" type="text/css" />
{% end %}
{% for key, entry in enumerate(entries) %}
  <span class="top-right content-schema response-content-{{ entry['response']['status'] }}" {% if key != 0 %}style="display: none;"{% end %}>
  <a class="pure-button" href="/documentation/view/{{ entry['_id'] }}">View</a>
  </span>
{% end %}
<div class="doc-view">

<div class="pure-menu pure-menu-horizontal">
<ul class="pure-menu-list statuses">
{% for key, item in enumerate(entries) %}
{% if 'schema' in item['response'] %}
<li class="pure-menu-item {% if key == 0 %}pure-menu-selected{% end %}">
<a class="pure-menu-link response-status" data-target="{{ item['response']['status'] }}">
<span class="status-{{ (item['response']['status']/100)*100 }}">{{ item['response']['status'] }}</span>
</a>
</li>
{% end %}
{% end %}
</ul>
</div>

<h1 class="center no-margin">Request</h1>

<h3 class="no-top-padding no-top-margin">Headers</h3>

{% for key, entry in enumerate(entries) %}
<div class="content-schema response-content-{{ entry['response']['status'] }}" {% if key != 0 %}style="display: none;"{% end %}>

<table class="headers full-width">
{% for num, key in enumerate(entry['request']['headers']) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
  {% if key == 'Cookie' %}
    {% raw entry['request']['headers'][key] %}
  {% else %}
    {{ entry['request']['headers'][key] }}
  {% end %}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ entry['_id'] }}" />
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="type" value="reqheader" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
</table>


{% if entry and entry['request']['query'] and len(entry['request']['query']) != 0 %}
<h3>Query String</h3>

<table class="headers full-width">
{% for num, (key, value) in enumerate(entry['request']['query']) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
    {{ value }}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ entry['_id'] }}" />
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="type" value="query" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
</table>
{% end %}

{% if entry and entry['request']['body'] %}
<h3>Body</h3>

<table class="headers full-width">
{% for num, (key, value) in enumerate(entry['request']['body'] ) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
    {{ value }}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ entry['_id'] }}" />
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="action" value="delete" />
        <input type="hidden" name="type" value="reqbody" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
</table>

{% end %}
<h1 class="center">Response</h1>

{% if entry and entry['response']['headers'] %}
<h3 class="no-top-padding no-top-margin">Headers</h3>

<table class="headers full-width">
{% for num, key in enumerate(entry['response']['headers']) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
  {% if key == 'Cookie' %}
    {% raw entry['response']['headers'][key] %}
  {% else %}
    {{ entry['response']['headers'][key] }}
  {% end %}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ entry['_id'] }}" />
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="action" value="delete" />
        <input type="hidden" name="type" value="resheader" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
</table>

{% end %}

</div>
{% end %}

<div class="top-margin">
{% for key, item in enumerate(entries) %}
<div class="pure-menu pure-menu-horizontal">
<ul class="pure-menu-list content-schema content-tabs response-content-{{ item['response']['status'] }}" {% if key != 0 %}style="display: none;"{% end %}>
{% if 'schema' in item['response'] %}
<li class="pure-menu-item pure-menu-selected"><a class="response-content pure-menu-link" data-target="response-content-{{ item['response']['status'] }}-json">Schema</a>
</li>
{% end %}
{% if item['response']['body'] %}
<li class="pure-menu-item {% if not 'schema' in item['response'] %}pure-menu-selected{% end %}">
<a class="response-content pure-menu-link" data-target="response-content-{{ item['response']['status'] }}-body">Example</a>
</li>
{% end %}
</ul>
</div>
{% end %}
</div>

{% for key, item in enumerate(entries) %}
<div class="content-schema response-content-{{ item['response']['status'] }}" {% if key != 0 %}style="display: none;"{% end %}>
<ul class="list-content">
{% if 'schema' in item['response'] %}
<li id="response-content-{{ item['response']['status'] }}-json" class="response-content-data response-content-data-json">
<div>
{% raw render_schema(item['response']['schema']) %}
</div>
</li>
{% end %}
<li {% if 'schema' in item['response'] %}style="display: none;"{% end %} id="response-content-{{ item['response']['status'] }}-body" class="response-content-data response-content-data-body">
  <div>

 {% raw item['response']['body'] %}
  </div>
</li>
</ul>
</div>
{% end %}
<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
$('.response-status').on('click', function(evt){
  $('.content-schema').hide();
  $('.statuses li').removeClass('pure-menu-selected');
  $(evt.currentTarget).parent().addClass('pure-menu-selected');
  $('.response-content-data').hide();
  $('.response-content-'+$(evt.currentTarget).data('target')).show();
  $('#response-content-'+$(evt.currentTarget).data('target') + '-json' ).show();
  // reset schema active tab
  $('.response-content').parent().removeClass('pure-menu-selected');
  $('.content-tabs.response-content-'+$(evt.currentTarget).data('target')+' li').first().addClass('pure-menu-selected');
});
$('.response-content').on('click', function(evt){
  $('.response-content-data').hide();
  $('.response-content').parent().removeClass('pure-menu-selected');
  $(evt.currentTarget).parent().addClass('pure-menu-selected');
  $('#'+$(evt.currentTarget).data('target')).show();
});
$('form[name=deleteForm] button[name=delete]').on('click', function(evt){
  var t = evt.currentTarget;
  evt.preventDefault();
  if (confirm("Are you sure you want to remove this from the definition?")) {
    var id = t.parentNode.querySelector('input[name=ident]').value;
    var key = t.parentNode.querySelector('input[name=key]').value;
    var type = t.parentNode.querySelector('input[name=type]').value;
    $.post("/documentation/endpoint/{{ host }}", {ident: id, key: key, type: type, action: "delete"}, function(data, status) {
      var row = t.parentNode.parentNode.parentNode;
      row.parentNode.removeChild(row);
    });
  }
});
</script>
</div>
