{% whitespace all %}
{% autoescape None %}
{% if 'params' in entry and len(entry['params']) != 0 %}
    + Parameters
{% for name, value in entry['params'].iteritems() %}
        + {{ name }}: `{{ value }}`{% end %}
{% end %}
{% if len(entry['headers']) != 0 %}
    + Headers
{% for key, values in entry['headers'].iteritems() %}
{% for value in values %}            {{ key }}: {{ value }}{% end %}{% end %}{% end %}

{% if 'body' in entry and entry['body'] != '' %}
    + Body

            {% for line in indent(entry['body'], 3) %}
{{ line }}
{% end %}

{% end %}
