{% extends "default.html" %}
{% block title %}List of documents{% end %}
{% block content %}
<div class="top-button">
  <a class="pure-button pure-button-primary" href="/docsettings/add">Add Host</a>
  <a class="pure-button pure-button-primary" href="/documentation/add?host={{ host }}">Add Endpoint</a>
</div>
<div class="box">

  <div class="layout">
    <div class="box-header">
      {% set itemid = row['_id'] if row is not None else ObjectId() %}
      <div class="top-right">
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ itemid }}" />
        <input type="hidden" name="action" value="{% if row is not None and row['active'] %}disable{% else %}enable{% end %}" />
        <input type="hidden" name="host" value="{{ host }}" />
        <input type="checkbox" id="cmn-toggle-{{ itemid }}" class="cmn-toggle cmn-toggle-round" {% if row is not None and row['active'] %}checked="checked"{% end %} />
        <label for="cmn-toggle-{{ itemid }}"></label>
      </form>
      </div>
      <h2 class="url">
        {% if method %}
        <span class="method-{{ method }}">{{ method }}</span>
        {% end %}
        <a href="{% if currentpath %}/documentation/host/{{ host }}{% else %}/docsettings/{{ itemid }}?host={{ host }}{% end %}">{{ host }}</a>{% if currentpath %}{{ currentpath }}{% end %}</h2>
    </div>
  </div>
</div>


{% if tree %}
      <div class="tree box">
{% raw render_tree(host, tree, currentpath, '', method, row) %}
      </div>
{% end %}
<div class="box box-with-tree">

  {% if method is not None %}
  <div class="layout layout-with-tree">
    <div>
      {% raw render_document(entries, method, host) %}
      <div class="clear"></div>
    </div>

  </div>
  {% elif row is not None %}
  {% set entry = row %}
  <form class="pure-form" method="post" action="/docsettings/{{ entry['_id'] }}">
    <div class="box-body top-bar">
    <input type="hidden" name="id" value="{{ entry['_id'] }}" />
    <input type="hidden" name="host" value="{{ entry['host'] }}" />
    {% if entry['active'] %}
    <input type="hidden" name="active" value="checked" />
    {% end %}

    <div class="pure-form-stacked">

    <div class="pure-control-group">
    <label for="groupindex">Group</label>
    <input type="text" name="groupindex" placeholder="1" value="{% if 'groupindex' in entry and entry['groupindex'] != None %}{{ entry['groupindex'] }}{% end %}" />
    </div>

    </div>
    
    </div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% end %}
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var host = evt.target.parentNode.querySelector('input[name=host]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/docsettings", {ident: id, action: action, host: host});
      
    });
</script>
{% end %}
