<div class="doc-view">

<h1>Request</h1>

{% if requestheaders %}
<h3>Headers</h3>

<table class="headers full-width">
{% for num, key in enumerate(requestheaders) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td>
  {% if key == 'Cookie' %}
    {% raw requestheaders[key] %}
  {% else %}
    {{ requestheaders[key] }}
  {% end %}
    </td>
  </tr>
{% end %}
</table>

{% end %}

{% if query and len(query) != 0 %}
<h3>Query String</h3>

<table class="headers full-width">
{% for num, (key, value) in enumerate(query) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td>
    {{ value }}
    </td>
  </tr>
{% end %}
</table>
{% end %}

{% if reqfields %}
<h3>Body</h3>

<table class="headers full-width">
{% for num, (key, value) in enumerate(reqfields) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td>
    {{ value }}
    </td>
  </tr>
{% end %}
</table>

{% end %}
<h1>Response</h1>

{% if responseheaders %}
<h3>Headers</h3>

<table class="headers full-width">
{% for num, key in enumerate(responseheaders) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td>
  {% if key == 'Cookie' %}
    {% raw responseheaders[key] %}
  {% else %}
    {{ responseheaders[key] }}
  {% end %}
    </td>
  </tr>
{% end %}
</table>

{% end %}

{% for entry in entries %}
<a href="/documentation/view/{{ entry['_id'] }}">
<span class="status-{{ (entry['response']['status']/100)*100 }}">{{ entry['response']['status'] }}</span>
</a>
{% end %}

{% if schema %}
<h3>JSON Schema</h3>

{% raw render_schema(schema) %}
{% end %}

</div>
