{% extends "default.html" %}
{% block title %}Edit a host{% end %}
{% block content %}

    <div id="main" class="box">
      <div class="box-header">
  <h2>Edit Host</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">
    <input type="hidden" name="id" value="{{ entry['_id'] }}" />

    <div class="pure-form-stacked">
        
    <div class="pure-control-group">
    <label for="active">Record</label>
    <input type="checkbox" name="active" {% if entry['active'] %}checked="checked"{% end %} />
    </div>
      
    <div class="pure-control-group">
    <label for="host">Host</label>
    <input type="text" class="large-field" name="host" size="35" placeholder="www.google.com" value="{% if entry['host'] %}{{ entry['host'] }}{% end %}" />
    </div>

    </div>
    
    <h4>Paths</h4>
      <div id="paths-group">
      {% set x = 0 %}
      {% for path in paths %}
        <div class="pure-control-group">
          <input type="text" class="large-field" name="paths[]" value="{{ path }}" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
        </div>
        {% set x = x + 1 %}

      {% end %}

      <div class="pure-control-group">
        <input type="text" class="large-field" name="paths[]" value="" />
        {% if x != 0 %}
            <button class="btn" name="delete"><i class="fa fa-times"></i></button>
        {% end %}
      </div>

      </div>

</div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

      <div class="hidden pure-control-group" id="paths-template">
        <input type="text" class="large-field" value="" />
        <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </div>
      </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.js"></script>
<script src="/static/paths.js"></script>
{% end %}
