{% extends "default.html" %}
{% block title %}List of filters{% end %}
{% block content %}
<div class="top-button">
    <a class="pure-button pure-button-primary" href="/ignores/add">Add Filter</a>
</div>

<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table class="full-width">
  <thead>
    <th class="active">
      Active
    </th>
    <th>
      Host
    </th>
    <th>
      Paths
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for row in items %}
  <tr>
    <td>
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="{% if row['active'] %}disable{% else %}enable{% end %}" />
        <input type="checkbox" class="uiswitch" {% if row['active'] %}checked="checked"{% end %} />
      </form>
    </td>
    <td>
      <a href="/ignores/{{ row['_id'] }}">
      {{ row['host'] }}
      </a>
    </td>
    <td>
      {% if 'paths' in row %}
      {{ len(row['paths']) }}
      {% else %}
      <i class="fa fa-asterisk"></i>
      {% end %}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this filter?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/ignores", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
    });
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/ignores", {ident: id, action: action});
      
    });
</script>
{% end %}
