{% extends "default.html" %}
{% block title %}Add a new filter{% end %}
{% block content %}


    <div id="main" class="box">
      <div class="box-header">
        <h2>Add Filter</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">

    <div class="pure-form-stacked">

    <div class="pure-control-group">
    <label for="host">Host</label>
    <input type="text" class="large-field" name="host" size="35" {% if host %}value="{{ host }}"{% elif entry is not None %}value="{{ entry['request']['host'] }}"{% end %} placeholder="www.google.com" />
    </div>

    </div>

    <h4>Paths</h4>
      <div id="paths-group">
      {% set x = 0 %}
      {% for path in paths %}
        <div class="pure-control-group">
          <input type="text" class="large-field" name="paths[]" value="{{ path }}" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
        </div>
        {% set x = x + 1 %}

      {% end %}

      <div class="pure-control-group">
        <input type="text" class="large-field" name="paths[]" value="{% if entry is not None %}{{ entry['request']['path'] }}{% end %}" />
        {% if x != 0 %}
            <button class="btn" name="delete"><i class="fa fa-times"></i></button>
        {% end %}
      </div>

      </div>


</div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

      <div class="hidden" id="paths-template">
        <input type="text" class="large-field" value="" />
        <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </div>
      </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.js"></script>
<script src="/static/paths.js"></script>
{% end %}
