{% extends "default.html" %}
{% block title %}List of hosts{% end %}
{% block content %}
<div class="top-button">
    <a class="pure-button pure-button-primary" href="/ignores/add{% if host %}?host={{ host }}{% end %}">Add Host</a>
  {% if host %}<a class="pure-button top-right" href="/ignores"><i class="mdi mdi-close-circle"></i> Host: {{ host }}</a>{% end %}
</div>

<div class="box">

  <div class="layout">

{% if len(items) != 0 %}
<table class="full-width table-fixed clickable-row-table">
  <thead>
    <th class="active">
      Record
    </th>
    <th>
      Host
    </th>
    <th>
      Paths
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for row in items %}
<tr class="clickable-row" data-href="/ignores/{{ row['_id'] }}">
    <td>
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="{% if row['active'] %}disable{% else %}enable{% end %}" />
        <input type="checkbox" id="cmn-toggle-{{ row['_id'] }}" class="cmn-toggle cmn-toggle-round" {% if row['active'] %}checked="checked"{% end %} />
        <label for="cmn-toggle-{{ row['_id'] }}"></label>
      </form>
    </td>
    <td>
      <a href="/ignores/{{ row['_id'] }}">
      {{ row['host'] }}
      </a>
    </td>
    <td>
      {% if 'paths' in row %}
      {% for path in row['paths'] %}
      <div>{{ path }}</div>
      {% end %}
      {% else %}
      <i class="fa fa-asterisk"></i>
      {% end %}
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this filter?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/ignores", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
      return false;
    });
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/ignores", {ident: id, action: action});
      
    });
$(".clickable-row-table").on("click", ".clickable-row", function(evt) {
    if (evt.target.nodeName != 'A') {
        location.href = $(this).data("href");
    }
});
</script>
{% end %}
