{% extends "default.html" %}
{% block title %}MockProxy - Homepage{% end %}
{% block content %}
<div class="top-button">
<a class="pure-button pure-button-primary" href="/static/ca.crt">Install certificate</a>
</div>
        <div class="box">
  <div class="layout">
<div class="box-header">
  <h2>Home</h2>
</div>
      <div class="box-body top-bar">
  <p class="text-muted">
You will need to install the certificate on the device before using the proxy.
To install the certificate, simply navigate to <a href="/static/ca.crt">http://{{ host }}/static/ca.crt</a> from the device browser or go to <a href="/">http://{{ host }}</a> and click Install certificate.

<br />
<br />

If you want to install the root certificate, download this one <a href="/static/e3c54992.0">http://{{ host }}/static/e3c54992.0</a> from your computer and push it to the device using this command: <p>
<pre>
wget -q http://{{ host }}/static/e3c54992.0 -O /tmp/e3c54992.0 && adb remount && adb push /tmp/e3c54992.0 /etc/security/cacerts
</pre>
<pre>
curl -s http://{{ host }}/static/e3c54992.0 -o /tmp/e3c54992.0 && adb remount && adb push /tmp/e3c54992.0 /etc/security/cacerts
</pre>
Or 
<pre>
adb shell
mount -o remount,rw /system
</pre>

<br/>
  <p class="text-muted">
Then change the WIFI settings on the device to point
to the proxy<br/>
Host: {{ ip }}<br/>
Port: {{ port }}
    <br/>
    Now click on a client IP in the list to start listening
  </p>
  <p class="text-muted">
    If you don't know what your client IP is, navigate to this page from the device browser.
    <br />
    Your IP is <strong>{{ yourip }}</strong>
  </p>
    
</div>


</div>
        </div>

</script>
{% end %}
