{% extends "default.html" %}
{% block title %}MockProxy - Homepage{% end %}
{% block content %}
  <div class="layout">
<div>
You will need to install the certificate on the device before using the proxy.
To install the certificate, simply navigate to <a href="/static/ca.crt">http://{{ host }}/static/ca.crt</a> from the device browser or go to <a href="/">http://{{ host }}</a> and click Install certificate.

<br />
<a class="pure-button" href="/static/ca.crt">Install certificate</a>
<br />

If you want to install the root certificate, download this one <a href="/static/e3c54992.0">http://{{ host }}/static/e3c54992.0</a> from your computer and push it to the device using this command: <br />
<pre>
wget -q http://{{ host }}/static/e3c54992.0 -O /tmp/e3c54992.0 && adb remount && adb push /tmp/e3c54992.0 /etc/security/cacerts
</pre>
<pre>
curl -s http://{{ host }}/static/e3c54992.0 -o /tmp/e3c54992.0 && adb remount && adb push /tmp/e3c54992.0 /etc/security/cacerts
</pre>
Or 
<pre>
adb shell
mount -o remount,rw /system
</pre>

<br/>
Then change the WIFI settings on the device to point
to the proxy<br/>
Host: {{ ip }}<br/>
Port: {{ port }}
    <br/>
    Now click on a client IP in the list to start listening
</div>

<div>
    If you don't know what your client IP is, navigate to this page from the device browser.
    <br />
    Your IP is <strong>{{ yourip }}</strong>
    <br />
    
    
</div>


<table>
  <thead>
    <th>
      Client IP
    </th>
    <th>
      User-agent
    </th>
  </thead>
  <tbody>
{% for item, agent in items.iteritems() %}
  <tr>
    <td>
        <a href="/origin/{{ item }}">{{ item }}</a>
    </td>
    <td>
        {% if agent %}{{ agent }}{% end %}
    </td>
  </tr>
{% end %}
  </tbody>
</table>

    Alternatively, watch all traffic by clicking the button below 
    <br />
    <a class="pure-button" href="/all">Watch all traffic</a>


</div>

<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/moment.min.js"></script>
<script src="/static/moment-timezone.min.js"></script>
<script src="/static/moment-timezone-data.js"></script>
<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
  var sock;
function createSocket(origin)
{
  sock = new SockJS('/listener');
  sock.onopen = function() {
      console.log('open');
      sock.send(JSON.stringify({"filterOrigin":origin}));
  };
  sock.onmessage = function(e) {
      var shouldScroll = window.innerHeight + $(window).scrollTop() == $(window).height();
      var msg = JSON.parse(e.data);
      //console.log(msg);
      //console.log(JSON.stringify(msg, null, 4));
      var row = $("<tr>" +
            "<td>" + moment(msg['date']['$date']).tz("Europe/London").format('YYYY-MM-DD HH:mm:ss.SSS000ZZ') + "</td>" +
            "<td>" + msg['response']['status'] + "</td>" +
            "<td>" + msg['request']['method'] + "</td>" +
            "<td><a href='/item/" + msg['_id']['$oid'] + "'>" + 
            msg['request']['host'] + 
            msg['request']['path'] + 
            "</a></td>" +
            "</tr>");
      var text = $('#filterText').val().trim();
      if (filterRow(row, text)) {
        setHidden(row, true).appendTo("table > tbody");
      } else {
        row.appendTo("table > tbody");

        if (shouldScroll) {
          $("html, body").animate({ scrollTop: $(document).height() });
        }
      }
  };
  sock.onclose = function() {
      console.log('close');
      sock = null;
      $(this).text('Start Recording');
  };
}
var eOrigin = $('#origin');
var origin = eOrigin.length != 0 ? eOrigin.val().trim() : undefined;
createSocket(origin);

$('#onPlayPause').on('click', function(evt){
  if (sock != null) {
    if (sock.readyState < SockJS.CLOSING) {
      sock.close();
    }
    sock = null;
    $(this).text('Start Recording');
  } else {
    createSocket(origin);
    $(this).text('Stop');
  }
});
console.log(sock);
function setHidden(row, s)
{
    return s ? row.attr('class', 'hidden') : row.removeAttr('class');
}
function filterRow(row, text)
{
  if (row.children('td').text().indexOf(text) != -1) {
    return false;
  }
  return true;
}
$('#filterText').on('keyup', function(evt){
    var text = $('#filterText').val().trim();
    if (text.length > 0) {
      var row;
      $('table > tbody > tr').each(function(){
        row = $(this);
        if (filterRow(row, text)) {
          setHidden(row, true);
        } else {
          setHidden(row, false);
        }
      });
    } else {
      $('table > tbody > tr').removeAttr('class');
    }
});
$('#onClear').on('click', function(evt){
  $('table > tbody > tr').remove();
});
$('#filterForm').on('submit', function(evt){
    event.preventDefault();
    var host = $('#filterText').val().trim();
    if (host.length != 0) {
      document.location.href='/host/'+host;
    }
  });
//setTimeout(function(){sock.close();}, 2000);
</script>
{% end %}
