{% extends "default.html" %}
{% block title %}● Recording {% if origin %}{{ origin }}{% end %}{% end %}
{% block stylesheets %}
<style type="text/css">
  .fixed {
    background-color: white;
    border: 2px solid;
    position: fixed;
    padding: 5px;
  }
  tr.stripped{ /*:nth-child(odd){*/
    background-color: #eee;
  }
  .top-space{
      padding-top: {% if not host %}7em{% else %}9em{% end %};
  }
  .pure-table th.compact,
  .pure-table td.compact
  {
      padding-left: 5;
      padding-right: 5;
  }
  .pure-table th.compact-right,
  .pure-table td.compact-right{
      padding-right:10;
  }
  .pure-table th.compact-left,
  .pure-table td.compact-left{
      padding-left:10;
  }



</style>
{% end %}
{% block content %}
  <div class="layout">
    <div class="fixed">
    <a class="pure-button" href="/">Sessions List</a>
    <a class="pure-button" href="/rules{% if origin %}?&amp;origin={{ url_escape(origin) }}{% end %}">View Rules</a>
    <a class="pure-button" href="/rewrites{% if origin %}?&amp;origin={{ url_escape(origin) }}{% end %}">View Host Rewrites</a>
<div>
<button class="pure-button" id="onPlayPause">Stop Recording</button>
<button class="pure-button" id="onClear">Clear list</button>
</div>

<form id="filterForm" class="pure-form">
  <div>{% if host %}Host filter: {{ host }}<a class="pure-button" href="{% if origin %}/origin/{{ origin }}{% else %}/all{% end %}">X</a>{% end %}</div>
  <input type="text" id="filterText" placeholder="Filter by {% if not host %}host or {% end %}path" size="50" />
  <input type="hidden" id="host" value="{% if host %}{{ host }}{% end %}" />
  <input type="hidden" id="origin" value="{% if origin %}{{ origin }}{% end %}" />
  <button class="pure-button pure-button-primary">Apply host filter</button>
</form>
</div>

<div class="pure-g top-space">
<div class="pure-u">

<table class="pure-table pure-table-horizontal">
  <thead>
    <th>
      Time
    </th>
    {% if not origin %}
    <th class="compact-right">
      Origin
    </th>
    {% end %}
    <th class="compact">
      St. 
    </th>
    <th class="compact">
      Met.
    </th>
    <th class="compact-left">
      Url
    </th>
  </thead>
  <tbody>
{% for num, item in enumerate(items) %}
<tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td>
      {{ item['date'].astimezone(tz).strftime('%H:%M:%S') }}
    </td>
    {% if not origin %}
    <td class="compact-right">
        <a href="/origin/{{ item['request']['origin'] }}">{{ item['request']['origin'] }}</a>
    </td>
    {% end %}
    <td class="compact">
      {{ item['response']['status'] }} 
    </td>
    <td class="compact">
      {{ item['request']['method'] }}
    </td>
    <td class="compact-left">
        <a target="_blank" href="/item/{{ item['_id'] }}{% if origin %}?origin={{ url_escape(origin) }}{% end %}" title="{{ item['request']['path'] }}">
            {% if 'scheme' in item['request'] %}{{ item['request']['scheme'] }}://{% end %}{{ item['request']['host'] }}{% if len(item['request']['path']) > 50 %}{{ item['request']['path'][:50] }}...{% else %}{{ item['request']['path'] }}{% end %}
      </a>
    </td>
  </tr>
{% end %}
  </tbody>
</table>

</div>
</div>
</div>

<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/moment.min.js"></script>
<script src="/static/moment-timezone.min.js"></script>
<script src="/static/moment-timezone-data.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/purl.js"></script>
<script type="text/javascript">
(function(){
// The format that date will be displayed with
var jsDateFormat = 'HH:mm:ss';
var eOrigin = $('#origin');
var origin = eOrigin.length != 0 ? eOrigin.val().trim() : undefined;
var host = $('#host').val().trim();
var sock;
function scrollToBottom(){
  $("html, body").animate({ scrollTop: $(document).height() });
}

function createSocket(origin)
{
  sock = new SockJS('/listener');
  sock.onopen = function() {
      sock.send(JSON.stringify({"filterOrigin":origin}));
  };
  sock.onmessage = function(e) {
      // Use a threshold to avoid difference of a few pixels causing problems
      var threshold = 30;
      var shouldScroll = Math.abs(window.innerHeight + $(window).scrollTop() - $(window).height()) < threshold;
      var msg = JSON.parse(e.data);
      if (origin && msg['request']['origin'] != origin) {
        // ignore this as we are not looking at this origin now
        return;
      }
      if (host && msg['request']['host'] != host) {
        // ignore this as we are not looking at this origin now
        return;
      }
      var row = $("<tr>" +
            "<td>" + moment(msg['date']['$date']).tz("{{ tz.zone }}").format(jsDateFormat) + "</td>" +
            {% if not origin %}
            '<td class="compact-right"><a href="/origin/' + msg['request']['origin'] + '">' + msg['request']['origin'] + "</a></td>" +
            {% end %}
            '<td class="compact">' + msg['response']['status'] + "</td>" +
            '<td class="compact">' + msg['request']['method'] + "</td>" +
            '<td class="compact-left">' + "<a target='_blank' href='/item/" + msg['_id']['$oid'] + "?" + (origin.length != 0 ? "origin="+ encodeURIComponent(origin) : "")+"' title='"+
            msg['request']['scheme'] + '://' +
            msg['request']['host'] + 
            msg['request']['path'] + 
            "'>" + 
            msg['request']['scheme'] + '://' +
            msg['request']['host'] + 
            ( msg['request']['path'].length > 50 ? msg['request']['path'].substr(0, 50) + '...' : msg['request']['path'] ) + 
            "</a></td>" +
            "</tr>");
      var text = $('#filterText').val().trim();
      if (filterRow(row, text)) {
        setHidden(row, true).appendTo("table > tbody");
      } else {
        setHidden(row, false).appendTo("table > tbody");
        setStripedClass(row);

        if (shouldScroll) {
          scrollToBottom();
        }
      }
  };
  sock.onclose = function() {
      sock = null;
      $('#onPlayPause').text('Start Recording');
      document.title = 'MockProxy{% if origin %} - {{ origin }}{% end %} (not listening)';
  };
}
createSocket(origin);

$('#onPlayPause').on('click', function(evt){
  if (sock != null) {
    if (sock.readyState < SockJS.CLOSING) {
      sock.close();
    }
    sock = null;
    $(this).text('Start Recording');
    document.title = 'MockProxy{% if origin %} - {{ origin }}{% end %} (not listening)';
  } else {
    createSocket(origin);
    $(this).text('Stop Recording');
    document.title = '● Recording {% if origin %}{{ origin }}{% end %}';
  }
});
function setHidden(row, s)
{
    return s ? row.attr('class', 'hidden') : row.removeAttr('class');
}
function filterRow(row, text)
{
  if (row.children('td').text().indexOf(text) != -1) {
    return false;
  }
  return true;
}
$('#filterText').on('keyup', function(evt){
    var text = $('#filterText').val().trim();
    if (text.length > 0) {
      var row;
      $('table > tbody > tr').each(function(){
        row = $(this);
        if (filterRow(row, text)) {
          setHidden(row, true);
        } else {
          setHidden(row, false);
          setStripedClass(row);
        }
      });
    } else {
      $('table > tbody > tr').removeAttr('class');
      refreshStrip();
    }
    // Scroll to bottom
    scrollToBottom();
});
function refreshStrip(){
  $('table > tbody > tr').each(function(index, row){
      setStripedClass($(row));
      });
}
function setStripedClass(row)
{
  var index = row.prevAll(':not(.hidden)').length;
  if (index % 2 == 0) {
    row.addClass('stripped');
  } else {
    row.removeClass('stripped');
  }
  
}
$('#onClear').on('click', function(evt){
  $('table > tbody > tr').remove();
});
$('#filterForm').on('submit', function(evt){
    evt.preventDefault();
    var shost = $('#filterText').val().trim();
    var idx = shost.indexOf('://');
    if (idx != -1) {
        shost = shost.substr(idx+3);
    }
    if (shost.length != 0) {
      shost = encodeURIComponent(shost);
      if(origin) {
        document.location.href='/origin/'+origin+'/host/'+shost;
      } else {
        document.location.href='/host/'+shost;
      }
    }
  });
    scrollToBottom();
})();
</script>
{% end %}
