<html>
  <head>
    <title>● Recording</title>
<style type="text/css">
  .hidden {
    display: none;
  }

</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://purecss.io/combo/1.15.3?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css">

  </head>
  <body>

  <div class="layout">
    {% if origin %}<a class="pure-button" href="/">Sessions List</a>{% end %}
    {% if host %}<a class="pure-button" href="/origin/{{ origin }}">Remove Host Filter</a>{% end %}
    <a class="pure-button" href="/rules?{% if origin %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host %}&amp;host={{ host }}{% end %}">View Rules</a>
<div>
<button class="pure-button" id="onPlayPause">Stop Recording</button>
<button class="pure-button" id="onClear">Clear list</button>
</div>

<form id="filterForm" class="pure-form">
  <input type="text" id="filterText" size="50" value="{% if host %}{{ host }}{% end %}" />
  <input type="hidden" id="origin" value="{% if origin %}{{ origin }}{% end %}" />
  <button class="pure-button pure-button-primary">Filter by host</button>
</form>

<div class="pure-g">
<div class="pure-u">

<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <th>
      Date
    </th>
    <th>
      Status
    </th>
    <th>
      Method
    </th>
    <th>
      Url
    </th>
  </thead>
  <tbody>
{% for item in items %}
  <tr>
    <td>
      {{ item['date'].astimezone(EST).strftime('%Y-%m-%d %H:%M:%S.%f%z') }}
    </td>
    <td>
      {{ item['response']['status'] }}
    </td>
    <td>
      {{ item['request']['method'] }}
    </td>
    <td>
      <a href="/item/{{ item['_id'] }}?origin={{ url_escape(origin) }}{% if host is not None %}&host={{ host }}{% end %}">
      {{ item['request']['host'] }}{{ item['request']['path'] }}
      </a>
    </td>
  </tr>
{% end %}
  </tbody>
</table>

</div>
</div>
</div>

<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/moment.min.js"></script>
<script src="/static/moment-timezone.min.js"></script>
<script src="/static/moment-timezone-data.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/purl.js"></script>
<script type="text/javascript">
var eOrigin = $('#origin');
var origin = eOrigin.length != 0 ? eOrigin.val().trim() : undefined;
var host = purl().param('host');
var sock;
function createSocket(origin)
{
  sock = new SockJS('/listener');
  sock.onopen = function() {
      console.log('open');
      sock.send(JSON.stringify({"filterOrigin":origin}));
  };
  sock.onmessage = function(e) {
      // Use a threshold to avoid difference of a few pixels causing problems
      var threshold = 30;
      var shouldScroll = Math.abs(window.innerHeight + $(window).scrollTop() - $(window).height()) < threshold;
      var msg = JSON.parse(e.data);
      if (origin && msg['request']['origin'] != origin) {
        // ignore this as we are not looking at this origin now
        return;
      }
      //console.log(msg);
      //console.log(JSON.stringify(msg, null, 4));
      var row = $("<tr>" +
            "<td>" + moment(msg['date']['$date']).tz("Europe/London").format('YYYY-MM-DD HH:mm:ss.SSS000ZZ') + "</td>" +
            "<td>" + msg['response']['status'] + "</td>" +
            "<td>" + msg['request']['method'] + "</td>" +
            "<td><a href='/item/" + msg['_id']['$oid'] + "?" + (origin.length != 0 ? "origin="+ encodeURIComponent(origin) : "")+(host != undefined ? "&amp;host="+host : "")+"'>" + 
            msg['request']['host'] + 
            msg['request']['path'] + 
            "</a></td>" +
            "</tr>");
      var text = $('#filterText').val().trim();
      if (filterRow(row, text)) {
        setHidden(row, true).appendTo("table > tbody");
      } else {
        row.appendTo("table > tbody");

        if (shouldScroll) {
          $("html, body").animate({ scrollTop: $(document).height() });
        }
      }
  };
  sock.onclose = function() {
      console.log('close');
      sock = null;
      $('#onPlayPause').text('Start Recording');
      document.title = 'GProxy';
  };
}
createSocket(origin);

$('#onPlayPause').on('click', function(evt){
  if (sock != null) {
    if (sock.readyState < SockJS.CLOSING) {
      sock.close();
    }
    sock = null;
    $(this).text('Start Recording');
    document.title = 'GProxy';
  } else {
    createSocket(origin);
    $(this).text('Stop Recording');
    document.title = '● Recording';
  }
});
console.log(sock);
function setHidden(row, s)
{
    return s ? row.attr('class', 'hidden') : row.removeAttr('class');
}
function filterRow(row, text)
{
  if (row.children('td').text().indexOf(text) != -1) {
    return false;
  }
  return true;
}
$('#filterText').on('keyup', function(evt){
    var text = $('#filterText').val().trim();
    if (text.length > 0) {
      var row;
      $('table > tbody > tr').each(function(){
        row = $(this);
        if (filterRow(row, text)) {
          setHidden(row, true);
        } else {
          setHidden(row, false);
        }
      });
    } else {
      $('table > tbody > tr').removeAttr('class');
    }
});
$('#onClear').on('click', function(evt){
  $('table > tbody > tr').remove();
});
$('#filterForm').on('submit', function(evt){
    evt.preventDefault();
    var shost = $('#filterText').val().trim();
    if (shost.length != 0) {
      document.location.href='/origin/'+origin+'/host/'+shost;
    }
  });
//setTimeout(function(){sock.close();}, 2000);
</script>
</body>
</html>
