{% extends "default.html" %}
{% block title %}● Recording {% if origin %}{{ origin }}{% end %}{% end %}
{% block stylesheets %}
<style type="text/css">
  .fixed {
    background-color: white;
    border: 2px solid;
    position: fixed;
    padding: 5px;
  }
  tr.stripped{ /*:nth-child(odd){*/
    background-color: rgba(0,0,0,.025);
  }
  .top-space{
      padding-top: {% if not host %}9em{% else %}11em{% end %};
  }
  .pure-table th.compact,
  .pure-table td.compact
  {
      padding-left: 5;
      padding-right: 5;
  }
  .pure-table th.compact-right,
  .pure-table td.compact-right{
      padding-right:10;
  }
  .pure-table th.compact-left,
  .pure-table td.compact-left{
      padding-left:10;
  }



</style>
{% end %}
{% block content %}
<div class="top-button">
<button class="pure-button pure-button-primary button-success" style="display:none;" id="onPlayPause"><i id="record-icon" class="mdi mdi-play"></i> <span id="record-text">Start Recording</span></button>
<div class="top-right">
{% if host %}<a class="pure-button" href="{% if origin %}/origin/{{ origin }}{% else %}/all{% end %}"><i class="mdi mdi-close-circle"></i> Host: {{ host }}</a>{% end %}
{% if origin %}<a class="pure-button" href="{% if host %}/host/{{ host }}{% else %}/all{% end %}"><i class="mdi mdi-close-circle"></i> Origin: {{ origin }}</a>{% end %}
<button class="pure-button" id="onClear"><i class="mdi mdi-delete-forever"></i> Clear all</button>
</div>
</div>

<form id="filterForm" class="pure-form">
  <input type="search" id="filterText" placeholder="&#xf002; Search" class="full-width input-icon" />
  <input type="hidden" id="host" value="{% if host %}{{ host }}{% end %}" />
  <input type="hidden" id="origin" value="{% if origin %}{{ origin }}{% end %}" />
</form>

        <div class="box b-t">
  <div class="layout">
<div class="table">
<table class="fixed-header full-width">
  <thead>
    <th class="fixed-width-time">
      <div>
      Time
      </div>
    </th>
    {% if not origin %}
    <th class="fixed-width-origin">
      <div>
      Origin
      </div>
    </th>
    {% end %}
    <th class="fixed-width-status">
      <div>
      Status
      </div>
    </th>
    <th class="fixed-width-method">
      <div>
      Method
      </div>
    </th>
    <th class="fixed-width-url">
      <div>
      Url
      </div>
    </th>
  </thead>
  <tbody>
{% for num, item in enumerate(items) %}
<tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="fixed-width-time">
      {{ item['date'].astimezone(tz).strftime('%H:%M:%S') }}
    </td>
    {% if not origin %}
      <td class="fixed-width-origin">
        {% if 'origin' in item['request'] %}
        <a href="/origin/{{ item['request']['origin'] }}">{{ item['request']['origin'] }}</a>
        {% end %}
      </td>
    {% end %}
    <td class="fixed-width-status status-{{ (item['response']['status']/100)*100 }}">
      <i class="fa fa-circle"></i>
      {{ item['response']['status'] }} 
    </td>
    <td class="fixed-width-method method-{{ item['request']['method'] }}">
      {{ item['request']['method'] }}
    </td>
    <td class="fixed-width-url">
      <div class="fixed-url">
      {% if 'scheme' in item['request'] %}{{ item['request']['scheme'] }}://{% end %}<a href="{% if not host %}{% if origin %}/origin/{{ origin }}{% end %}/host/{{ item['request']['host'] }}{% else %}/item/{{ item['_id'] }}{% if origin or host %}?{% end %}{% if origin %}origin={{ url_escape(origin) }}{% if host %}&amp;{% end %}{% end %}{% if host %}host={{ url_escape(host) }}{% end %}{% end %}">{{ item['request']['host'] }}</a><a target="_blank" href="/item/{{ item['_id'] }}{% if origin or host %}?{% end %}{% if origin %}origin={{ url_escape(origin) }}{% if host %}&amp;{% end %}{% end %}{% if host %}host={{ url_escape(host) }}{% end %}" title="{{ item['request']['path'] }}">{% if len(item['request']['path']) > 50 %}{{ item['request']['path'][:50] }}...{% else %}{{ item['request']['path'] }}{% end %}</a>
      </div>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
</div>
</div>

        </div>

<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/moment.min.js"></script>
<script src="/static/moment-timezone.min.js"></script>
<script src="/static/moment-timezone-data.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/purl.js"></script>
<script type="text/javascript">
(function(){
// The format that date will be displayed with
var jsDateFormat = 'HH:mm:ss';
var eOrigin = $('#origin');
var origin = eOrigin.length != 0 ? eOrigin.val().trim() : undefined;
var host = $('#host').val().trim();
var sock;
function scrollToBottom(duration){
  if (duration == undefined) {
    duration = 400;
  }
  $('table.fixed-header tbody').animate({scrollTop: $('table.fixed-header tbody')[0].scrollHeight-$('table.fixed-header tbody').height()}, duration);
}

function getScrollHeight()
{
  return Math.abs($('table.fixed-header tbody')[0].scrollHeight-$('table.fixed-header tbody').scrollTop()-$('table.fixed-header tbody').height());
}

var scrollTimeout;
var retries = 0;

function createSocket(origin)
{
  sock = new SockJS('/listener');
  sock.onopen = function() {
      setStatus(true);
      retries = 0;
      sock.send(JSON.stringify({"filterOrigin":origin}));
  };
  sock.onmessage = function(e) {
      var msg = JSON.parse(e.data);
      if (origin && msg['request']['origin'] != origin) {
        // ignore this as we are not looking at this origin now
        return;
      }
      if (host && msg['request']['host'] != host) {
        // ignore this as we are not looking at this origin now
        return;
      }
      var item_link = "<a target='_blank' href='/item/" + msg['_id']['$oid'] + "?" + (origin.length != 0 ? "origin="+ encodeURIComponent(origin) + (host ? "&" : "") : "") + (host ? "host=" + encodeURIComponent(host) : "") + "' title='"+ msg['request']['path'] + "'>";
      var host_link = host ? item_link : "<a href='" + (origin.length != 0 ? "/origin/" + origin : "" ) + "/host/" + msg['request']['host'] + "'>";
      var row = $("<tr>" +
            "<td class='fixed-width-time'>" + moment(msg['date']['$date']).tz("{{ tz.zone }}").format(jsDateFormat) + "</td>" +
            {% if not origin %}
            '<td class="fixed-width-origin"><a href="/origin/' + msg['request']['origin'] + '">' + msg['request']['origin'] + "</a></td>" +
            {% end %}
            '<td class="fixed-width-status status-' + (parseInt(msg['response']['status']/100)*100) + '"><i class="fa fa-circle"></i> ' + msg['response']['status'] + "</td>" +
            '<td class="fixed-width-method method-' + msg['request']['method'] + '">' + msg['request']['method'] + "</td>" +
            '<td class="fixed-width-url">' + 
            '<div class="fixed-url">' + 
            msg['request']['scheme'] + '://' +
            host_link + 
            msg['request']['host'] + 
            "</a>" + 
            item_link + 
            ( msg['request']['path'].length > 50 ? msg['request']['path'].substr(0, 50) + '...' : msg['request']['path'] ) + 
            "</a>" + 
            "</div>" + 
            "</td>" +
            "</tr>");
      var text = $('#filterText').val().trim();

      if (filterRow(row, text)) {
        setHidden(row, true).appendTo("table > tbody");
      } else {
        setHidden(row, false);

        var sizeDiff = getScrollHeight();

        row.appendTo("table > tbody");
        setStripedClass(row);

        // Use a threshold of 5 rows to enable scrolling
        var threshold = row.height() * 5;
        var shouldScroll = sizeDiff < threshold;
        if (shouldScroll && doNotScroll == null) {
            scrollToBottom(0);
        }
      }
  };
  sock.onclose = function() {
      setStatus(false);
      if (sock != null) {
        sock = null;
        console.log('Socket closed, retried: ' + retries + ' times');
        if (retries < 3) {
            console.log('Going to retry connection in 10s');
            retries += 1;
            setTimeout(function(){
              createSocket(origin);
            }, 5000);
        }
      }
  };
}
createSocket(origin);

function setStatus(status) {
  if (!status) {
    $('#onPlayPause').css('display', 'inline').removeClass("recording");
    $('#record-text').text('Start Recording');
    $('#record-icon').removeClass("mdi-stop").addClass("mdi-play");
    document.title = 'MockProxy{% if origin %} - {{ origin }}{% end %} (not listening)';
  } else {
    $('#onPlayPause').css('display', 'inline').addClass("recording");
    $('#record-text').text('Stop Recording');
    $('#record-icon').removeClass("mdi-play").addClass("mdi-stop");
    document.title = '● Recording {% if origin %}{{ origin }}{% end %}';
  }
}

$('#onPlayPause').on('click', function(evt){
  if (sock != null) {
    if (sock.readyState < SockJS.CLOSING) {
        var b = sock;
        sock = null;
        b.close();
    }
  } else {
    createSocket(origin);
  }
});
function setHidden(row, s)
{
    return s ? (!row.hasClass('hidden') ? row.addClass('hidden') : row) : row.removeClass('hidden');
}
function filterRow(row, text)
{
  if (row.children('td').text().indexOf(text) != -1) {
    return false;
  }
  return true;
}
$('#filterText').on('search', function(evt){
    var text = $('#filterText').val().trim();
    if (text.length > 0) {
      var row;
      $('table > tbody > tr').each(function(){
        row = $(this);
        if (filterRow(row, text)) {
          setHidden(row, true);
        } else {
          setHidden(row, false);
          setStripedClass(row);
        }
      });
    } else {
      $('table > tbody > tr').removeClass('hidden');
      refreshStrip();
    }
    // Scroll to bottom
    scrollToBottom(0);
});
function refreshStrip(){
  $('table > tbody > tr').each(function(index, row){
      setStripedClass($(row));
      });
}
function setStripedClass(row)
{
  var index = row.prevAll(':not(.hidden)').length;
  if (index % 2 == 0) {
    if (!row.hasClass('stripped')) {
      row.addClass('stripped');
    }
  } else {
    row.removeClass('stripped');
  }
  
}
$('#onClear').on('click', function(evt){
  $('table > tbody > tr').remove();
});
$('#filterForm').on('submit', function(evt){
    evt.preventDefault();
    var shost = $('#filterText').val().trim();
    var idx = shost.indexOf('://');
    if (idx != -1) {
        shost = shost.substr(idx+3);
    }
    if (shost.length != 0) {
      shost = encodeURIComponent(shost);
      if(origin) {
        document.location.href='/origin/'+origin+'/host/'+shost;
      } else {
        document.location.href='/host/'+shost;
      }
    }
  });

var lastScrollTop = $('table.fixed-header tbody').scrollTop();
var doNotScroll = null;
    
$('table.fixed-header tbody').scroll(function(evt){
    var currentScroll = $('table.fixed-header tbody').scrollTop();
    if (currentScroll < lastScrollTop){
        if (doNotScroll != null) {
            clearTimeout(doNotScroll);
        }
        doNotScroll = setTimeout(function(){
            doNotScroll = null;
        }, 1000);
    }
    lastScrollTop = currentScroll;
});

// Make the tbody height as big as possible
$(document).ready(function(){
    $('table.fixed-header tbody').height($(window).height()-(200+$('#filterBox').height()));
    $("html, body").animate({ scrollTop: $(document).height() }, 1);
    scrollToBottom(0);
});
$( window ).resize(function() {
    $('table.fixed-header tbody').height($(window).height()-(200+$('#filterBox').height()));
});
})();

</script>
{% end %}
