<html>
  <head>
    <title>Gianni's Proxy</title>
    <link href="/static/default.css" media="all" rel="stylesheet" type="text/css" />
<style type="text/css">
  .hidden {
    display: none;
  }
</style>
<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/jquery.min.js"></script>

  </head>
  <body>

One
<div>
{{ item['_id'] }}
</div>
<div>
{{ item['request']['method'] }}
{{ item['response']['status'] }}
<a href="{{ item['request']['host'] }}">{{ item['request']['host'] }}</a>
</div>
<h2>Request</h2>
<table>
{% for key, value in requestheaders.iteritems() %}
  <tr>
    <td>
  {{ key }}: {{ value }}
    </td>
  </tr>
{% end %}
</table>
{% if requestbody %}
<div>
<pre lang="json">{{ requestbody }}</pre>
</div>
{% end %}
<h2>Response</h2>
<table>
{% for key, value in responseheaders.iteritems() %}
  <tr>
    <td>
  {{ key }}: {{ value }}
    </td>
  </tr>
{% end %}
</table>
<div id="response">
{% if responsebody %}
<!--<div>
<pre lang="json"></pre>
</div>-->
{% autoescape None %}
{{ responsebody }}
{% end %}
</div>
<script type="text/javascript">
var sock;
function createSocket()
{
  sock = new SockJS('/body');
  sock.onopen = function() {
      console.log('open');
      sock.send('{{ item['response']['fileid'] }}')
  };
  sock.onmessage = function(e) {
    var t = e.data;
    /*try {
      t = JSON.stringify(JSON.parse(e.data), null, 4);
    } catch (e) {
    }*/
    console.log(t);
    $('#response').append($('<div>' + t + '</div>'));
  };
  sock.onclose = function() {
      console.log('close');
      sock = null;
  };
}
createSocket();
</script>
</body>
</html>
