<html>
  <head>
    <title>Gianni's Proxy</title>
<style type="text/css">
  .hidden {
    display: none;
  }
</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="http://purecss.io/combo/1.15.3?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css">
<link href="/static/default.css" media="all" rel="stylesheet" type="text/css" />

  </head>
  <body>
  <div class="layout">
  <div class="pure-g">
   <div class="pure-u">

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a class="pure-button" href="{% if host is not None %}/origin/{{ origin }}/host/{{ host }}{% else %}{% if origin %}/origin/{{ origin }}{% else %}/{% end %}{% end %}">&lt; Back to list</a></li>
        <!--<li class="pure-menu-selected"><a href="/item/{{ item['_id'] }}">{{ item['_id'] }}</a></li>-->
        <li><a class="pure-button" href="/rules/add?item={{ item['_id'] }}{% if origin is not None %}&origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&host={{ host }}{% end %}">Save Response</a></li>
    </ul>
</div>
<h2 class="content-subhead">Request</h2>
{{ item['request']['method'] }}
{{ item['response']['status'] }}
<a href="/origin/{{ origin }}/host/{{ item['request']['host'] }}">{{ item['request']['host'] }}</a>{{ item['request']['path'] }}

{{ requestquery }}

<table class="pure-table pure-table-horizontal pure-table-bordered">
{% for key, value in requestheaders.iteritems() %}
  <tr>
    <td>
  {{ key }}
    </td>
    <td>
  {{ value }}
    </td>
  </tr>
{% end %}
</table>
{% if requestbody %}
<div>
<pre lang="json">{{ requestbody }}</pre>
</div>
{% end %}
<h2 class="content-subhead">Response</h2>
<form method="post">
  <textarea id="message"></textarea>
  <button id="send">Send</button>
</form>
<table class="pure-table pure-table-horizontal pure-table-bordered">
{% for key, value in responseheaders.iteritems() %}
  <tr>
    <td>
  {{ key }}
    </td>
    <td>
  {{ value }}
    </td>
  </tr>
{% end %}
</table>
<div id="response">
{% if responsebody %}
<!--<div>
<pre lang="json"></pre>
</div>-->
{% autoescape None %}
{{ responsebody }}
{% end %}
</div>
</div>
</div>
</div>
<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/multiplex.js"></script>

<script type="text/javascript">
function createSocket()
{
  var sock = new SockJS('/body');
  sock.onopen = function() {
      console.log('open');
      sock.send('{{ item['response']['fileid'] }}')
  };
  sock.onmessage = function(e) {
    var t = e.data;
    /*try {
      t = JSON.stringify(JSON.parse(e.data), null, 4);
    } catch (e) {
    }*/
    //console.log(t);
    $('#response').append($('<div>' + t + '</div>'));
    $("html, body").animate({ scrollTop: $(document).height() });
  };
  sock.onclose = function() {
      console.log('close');
      sock = null;
  };
}
createSocket();

var uuid = '{{ socketuuid }}';
function createHijackSocket(uuid)
{
  var hisock = new SockJS('/hijack');

  var multiplexer = new MultiplexedWebSocket(hisock);
  var chan = multiplexer.channel(uuid);
  hisock.onopen = function() {
      console.log('open');
  };
  hisock.onclose = function() {
      console.log('close');
      hisock = null;
  };
  chan.onopen = function() {
  }
  chan.onclose = function() {
    chan = null;
  }
  
  $('#send').on('click', function(evt){
    evt.preventDefault();
    chan.send($('#message').val()+"\n")
    $('#message').val('');
  });
}
createHijackSocket(uuid);
</script>
</body>
</html>
