{% extends "default.html" %}
{% block title %}{{ item['request']['method'] }} - {{ item['request']['host'] }}{{ item['request']['path'] }}{% end %}
{% block stylesheets %}
<link href="/static/default.css" media="all" rel="stylesheet" type="text/css" />
{% end %}
{% block content %}

<div class="top-button">
<button id="curl" class="pure-button top-right" data-clipboard-action="copy" data-clipboard-target="#curl-cmd">Copy as CURL</button>
    <a class="pure-button" href="/rules/add?item={{ item['_id'] }}{% if from_doc %}&doc=1{% end %}">Save</a>
    <a class="pure-button" href="/request?item={{ item['_id'] }}{% if from_doc %}&doc=1{% end %}">Resend</a>
</div>
  <div class="box">
    <div class="box-header">
<h2 class="url">
<span class="status-{{ (item['response']['status']/100)*100 }}">{{ item['response']['status'] }}</span>
<span class="method-{{ item['request']['method'] }}">{{ item['request']['method'] }}</span>
<span class="url">
{% if 'scheme' in item['request'] %}{{ item['request']['scheme'] }}://{% end %}<a href="{% if origin %}/origin/{{ origin }}{% end %}/host/{{ item['request']['host'] }}">{{ item['request']['host'] }}</a>{{ item['request']['path'] }}
</span>

      <div class="top-right">
          <span class="time">{{ relativedelta(seconds=item['request']['time']).normalized().microseconds/1000 }}ms</span>
      </div>
</h2>

    </div>

<div id="curl-cmd" class="hidden">
{% raw cmd %}
</div>

{% if requestquery or len(requestheaders) or requestbody %}
  <div class="b-t">
  <div>
<h1 class="center no-bottom-margin">Request</h1>
  </div>

{% if requestquery %}
<div class="box-body table-header-value">

<h3 class="capitalize no-top-padding no-top-margin">Query</h3>
{% raw requestquery %}
</div>
{% end %}


  </div>

  <div class="box-body no-top-padding no-top-margin">
<h3 class="capitalize no-top-padding no-top-margin">Headers</h3>
<table class="headers full-width table-fixed">
{% for num, key in enumerate(sorted(requestheaders)) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
  {% if key == 'Cookie' %}
    {% raw requestheaders[key] %}
  {% else %}
    {{ requestheaders[key]  }}
  {% end %}
    </td>
  </tr>
{% end %}
</table>
  </div>
{% end %}
  </div>

{% if requestbody %}
<div class="box b-t table-header-value">
{% raw requestbody %}
</div>
{% end %}

  <div class="box b-t">
{% if not finished %}
<div class="link-messages"><a class="pure-button" href="/messages?host={{ item['request']['host'] }}">Manage messages</a></div>
  <div class="box-header">
<h2>Messages</h2>

  </div>

<button id="format" class="pure-button">FORMAT</button>
{% for msg in messages %}
<button class="pure-button" id="msg-{{ msg['_id'] }}">{% if 'name' in msg %}{{ msg['name'] }}{% else %}{{ msg['_id'] }}{% end %}</button>
{% end %}
<form method="post" class="bottom-padding-form" id="form">
  <input type="hidden" name="id" value="" />
  <textarea id="message" rows="20" style="width:100%" data-editor="json" name="body" placeholder="body content"></textarea>
  <div class="right">
  <button id="btn-send" class="pure-button pure-button-primary">Send</button>
  </div>

</form>
  </div>
  <div class="box b-t">
{% end %}
  <div>
<h1 class="center no-bottom-margin">Response</h1>
  </div>
  <div class="box-body no-top-padding no-top-margin">
<h3 class="capitalize no-top-padding no-top-margin">Headers</h3>
<table class="headers full-width">
{% for num, key in enumerate(sorted(responseheaders)) %}
  <tr {% if num % 2 == 0 %}class="stripped"{% end %}>
    <td class="key">
  {{ key }}
    </td>
    <td class="table-header-value">
  {{ responseheaders[key] }}
    </td>
  </tr>
{% end %}
</table>
{% if responsebody %}
<div id="response" class="b-t">
<button id="btn-rsp" class="pure-button top-right" data-clipboard-action="copy" data-clipboard-target="#response"><i class="mdi mdi-content-copy"></i> Copy</button>
<script type="text/javascript">
new Clipboard('#btn-rsp');
</script>
<!--<div>
<pre lang="json"></pre>
</div>-->
{% raw responsebody %}
</div>
{% end %}
  </div>
<script src="/static/jquery.min.js"></script>
{% if not finished %}
<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/multiplex.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ext-modelist.js" type="text/javascript"></script>
<script src="/static/editor.js"></script>
<script src="/static/formatjson.js"></script>
<script type="text/javascript">
{% if socketuuid %}
function createSocket()
{
  var sock = new SockJS('/body');
  sock.onopen = function() {
      console.log('open');
      sock.send('{{ item['response']['fileid'] }}')
  };
  sock.onmessage = function(e) {
    var t = e.data;
    /*try {
      t = JSON.stringify(JSON.parse(e.data), null, 4);
    } catch (e) {
    }*/
    //console.log(t);
    $('#response').append($('<div>' + t + '</div>'));
    $("html, body").animate({ scrollTop: $(document).height() });
  };
  sock.onclose = function() {
      console.log('close');
      sock = null;
  };
}
createSocket();

var uuid = '{{ socketuuid }}';
function createHijackSocket(uuid)
{
  var hisock = new SockJS('/hijack');

  var multiplexer = new MultiplexedWebSocket(hisock);
  var chan = multiplexer.channel(uuid);
  hisock.onopen = function() {
      console.log('open');
  };
  hisock.onclose = function() {
      console.log('close');
      $('#form').hide();
      hisock = null;
  };
  chan.onopen = function() {
  }
  chan.onclose = function() {
    chan = null;
      $('#form').hide();
  }
  chan.onmessage = function(e) {
      if (e.data == "error") {
          // couldn't open the socket - probably it's dead
          $('#form').hide();
      }
  }
  
  $('#form').on('submit', function(evt){
    evt.preventDefault();
    var editor = ace.edit("iace-message");
    var content = editor.getSession().getValue();
    try {
      content = JSON.stringify(JSON.parse(content));
    } catch (e) {
    }
    chan.send(content+"\n")
    editor.getSession().setValue();
    var $input = $(this).find('input[name=id]');
    var msgid = $input.val();
    if (msgid.length != 0) {
        console.log('this is a message, calling the rules associated with it');
        $.ajax({
            type: 'POST',
            data: {msgid: msgid},
            success: function(data, textstatus, jqXHR){
                console.log('DONE');
                console.log(data);
            }
        });
        // reset the msg id
        $input.val('');
    }
  });
}
createHijackSocket(uuid);
{% for msg in messages %}
$('#msg-{{ msg['_id'] }}').on('click', function(){
    var editor = ace.edit("iace-message");
    editor.getSession().setValue("{% raw msg['message'] %}");
    formatJsonContent("iace-message");
    $('#form').find('input[name=id]').val('{{ msg['_id'] }}');
});
{% end %}
$('#format').on('click', function(evt){
  formatJsonContent("iace-message");
});
{% end %}
</script>
{% end %}
<script type="text/javascript">
$('#curl').on('click', function(evt){
    var $el = $('#curl-cmd');
    if ($el.toggleClass('hidden').is(":not(.hidden)")) {
    }
});
new Clipboard('#curl');
</script>
{% end %}
