{% extends "default.html" %}
{% block title %}Edit a device{% end %}
{% block content %}

    <div id="main" class="box">
      <div class="box-header">
  <h2>Edit Device</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">
    <div class="pure-form-stacked">
        
    <div class="pure-control-group">
    <label for="active">Record</label>
    <input type="checkbox" name="active" {% if not entry or not 'filterAll' in entry or not entry['filterAll'] %}checked="checked"{% end %} />
    </div>
      
    <div class="pure-control-group">
    <label for="origin">IP</label>
    <input type="text" name="origin" size="35" placeholder="1.2.3.4" value="{% if entry is not None and entry['origin'] %}{{ entry['origin'] }}{% elif origin %}{{ origin }}{% end %}" />
    </div>

    <div class="pure-control-group">
    <label for="name">Name</label>
    <input type="text" name="name" size="35" placeholder="Black iPhone 6" value="{% if entry is not None and 'name' in entry and entry['name'] %}{{ entry['name'] }}{% end %}" />
    </div>
    </div>
    
</div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

      </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.js"></script>
{% end %}
