{% extends "default.html" %}
{% block title %}List of devices{% end %}
{% block content %}
<div class="top-button">
    <a class="pure-button pure-button-primary" href="/origins/add">Add Device</a>
</div>

<div class="box">

  <div class="layout">

<table>
  <thead>
    <th class="active">
      Record
    </th>
    <th class="fixed-width-origin">
      IP
    </th>
    <th>
      Name
    </th>
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for k, row in items.iteritems() %}
  <tr>
    <td>
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ row['origin'] }}" />
        <input type="hidden" name="action" value="{% if not 'filterAll' in row or not row['filterAll'] %}disable{% else %}enable{% end %}" />
        <input type="checkbox" class="uiswitch" {% if not 'filterAll' in row or not row['filterAll'] %}checked="checked"{% end %} />
      </form>
    </td>
    <td>
      <a href="/origin/{{ row['origin'] }}">
      {{ row['origin'] }}
      </a>
    </td>
    <td>
      <a href="/origins/{{ row['origin'] }}">
        {% if 'name' in row %}
      {{ row['name'] }}
      {% end %}
      </a>
    </td>
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['origin'] }}" />
        <input type="hidden" name="action" value="delete" />
        {% if 'agent' not in row %}
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
        {% end %}
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>

  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this device?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/origins", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
    });
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/origins", {ident: id, action: action});
      
    });
</script>
{% end %}
