{% extends "default.html" %}
{% block title %}Edit a Host Redirect{% end %}
{% block content %}
    <div id="main" class="box">
      <div class="box-header">
        <h2>Edit Redirect</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">
    {% if host is not None %}
    <input type="hidden" name="host" value="{{ host }}" />
    {% end %}
    <input type="hidden" name="id" value="{{ entry['_id'] }}" />

    <div class="pure-form-aligned">
        
    <div class="pure-control-group">
    <label for="active">Active</label>
    <input type="checkbox" name="active" {% if entry['active'] %}checked="checked"{% end %} />
    </div>
      
    <div class="pure-control-group">
    <label for="origin">Origin</label>
    <input type="text" name="origin" size="35" placeholder="IP of client" value="{% if entry['origin'] %}{{ entry['origin'] }}{% elif origin %}{{ origin }}{% end %}" />
    </div>

</div>
    </div>
      <div class="box-body top-bar">
    <div class="pure-form-aligned">
    <h3 class="form-group">Destination</h3>
    <div class="pure-control-group">
        <label for="protocol">Protocol</label>
        <select name="protocol" class="large-select">
          <option value="">any</option>
          <option value="http" {% if protocol and protocol == 'http' or (entry and 'protocol' in entry and entry['protocol'] == 'http') %}selected="selected"{% end %}>http</option>
          <option value="https" {% if protocol and protocol == 'https' or (entry and 'protocol' in entry and entry['protocol'] == 'https') %}selected="selected"{% end %}>https</option>
        </select>
    </div>

    <div class="pure-control-group">
      <label for="ohost">Host</label>
      <input type="text" name="ohost" size="50" placeholder="google.com" value="{% if entry['host'] %}{{ entry['host'] }}{% end %}" />
    </div>

</div>
    </div>
      <div class="box-body top-bar">
    <div class="pure-form-aligned">
    <h3 class="form-group">Redirect To</h3>
    <div class="pure-control-group">
        <label for="dprotocol">Protocol</label>
        <select name="dprotocol" class="large-select">
          <option value="">any</option>
          <option value="http" {% if dprotocol and dprotocol == 'http' or (entry and 'dprotocol' in entry and entry['dprotocol'] == 'http') %}selected="selected"{% end %}>http</option>
          <option value="https" {% if dprotocol and dprotocol == 'https' or (entry and 'dprotocol' in entry and entry['dprotocol'] == 'https') %}selected="selected"{% end %}>https</option>
        </select>
    </div>

    <div class="pure-control-group">
      <label for="dhost">Host</label>
      <input type="text" name="dhost" size="50" placeholder="google.dev" value="{% if entry['dhost'] %}{{ entry['dhost'] }}{% end %}" />
    </div>
    
    </div>
    

</div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}
      </div>

</div>

<script src="/static/jquery.min.js"></script>
{% end %}
