{% extends "default.html" %}
{% block title %}Add a Host Rewrite{% end %}
{% block content %}
        <div class="box">
  <div id="layout">

    <div id="main">
<div class="content">
  <h1 class="content-subhead">Add Rewrite</h1>
  <form class="pure-form" method="post">
    {% if host is not None %}
    <input type="hidden" name="host" value="{{ host }}" />
    {% end %}

    <div class="pure-form-aligned">

    <div class="pure-control-group">
    <label for="origin">Origin</label>
    <input type="text" name="origin" size="35" placeholder="IP of client" value="{% if origin %}{{ origin }}{% end %}" />
    </div>

    <h2>Destination</h2>
    <div class="pure-control-group">
    <label for="host"><input type="text" name="protocol" size="5" {% if protocol %}value="{{ protocol }}"{% end %} placeholder="http" /></label>
    <input type="text" name="ohost" size="35" {% if ohost %}value="{{ ohost }}"{% elif entry %}value="{{ entry['request']['host'] }}"{% end %} placeholder="google.com" />
    </div>
    
    <h2>Rewrite To</h2>
    <div class="pure-control-group">
    <label for="dhost"><input type="text" name="dprotocol" size="5" {% if dprotocol %}value="{{ dprotocol }}"{% end %} placeholder="http" /></label>
    <input type="text" name="dhost" size="35" {% if dhost %}value="{{ dhost }}"{% end %} placeholder="google.com" />
    </div>

    </div>

    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

</div>
</div>
</div>
        </div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
  (function(){
   /*
    * Handling the removal of a headers line
    */
   $(document).on('click', 'button[name=delete]', function(evt){
      evt.preventDefault();
      // Need to swap the names of this line with the last line
      var allButtons = $('button[name=delete]');
      $(this).parent().remove();
    });
  });
</script>

{% end %}
