{% extends "default.html" %}
{% block title %}Add a Host Rewrite{% end %}
{% block content %}

    <div id="main" class="box">
      <div class="box-header">
        <h2>Add Rewrite</h2>
      </div>
  <form class="pure-form" method="post">
      <div class="box-body top-bar">
    {% if host is not None %}
    <input type="hidden" name="host" value="{{ host }}" />
    {% end %}

    <div class="pure-form-aligned">

    <div class="pure-control-group">
    <label for="origin">Origin</label>
    <input type="text" name="origin" size="35" placeholder="IP of client" value="{% if origin %}{{ origin }}{% end %}" />
    </div>

    <h2>Destination</h2>
    <div class="pure-control-group">
        <label for="protocol">Protocol</label>
        <select name="protocol" class="large-select">
          <option value="">any</option>
          <option value="http" {% if protocol and protocol == 'http' or (entry and 'request' in entry and 'scheme' in entry['request'] and entry['request']['scheme'] == 'http') %}selected="selected"{% end %}>http</option>
          <option value="https" {% if protocol and protocol == 'https' or (entry and 'request' in entry and 'scheme' in entry['request'] and entry['request']['scheme'] == 'https') %}selected="selected"{% end %}>https</option>
        </select>
    </div>

    <div class="pure-control-group">
      <label for="ohost">Host</label>
      <input type="text" name="ohost" size="50" {% if ohost %}value="{{ ohost }}"{% elif entry %}value="{{ entry['request']['host'] }}"{% end %} placeholder="google.com" />
    </div>
    
    <h2>Rewrite To</h2>
    <div class="pure-control-group">
        <label for="dprotocol">Protocol</label>
        <select name="dprotocol" class="large-select">
          <option value="">any</option>
          <option value="http" {% if dprotocol and dprotocol == 'http' %}selected="selected"{% end %}>http</option>
          <option value="https" {% if dprotocol and dprotocol == 'https' %}selected="selected"{% end %}>https</option>
        </select>
    </div>

    <div class="pure-control-group">
      <label for="dhost">Host</label>
      <input type="text" name="dhost" size="50" {% if dhost %}value="{{ dhost }}"{% end %} placeholder="google.com" />
    </div>

    </div>

</div>
      <div class="box-body top-bar">
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}
      </div>

</div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
  (function(){
   /*
    * Handling the removal of a headers line
    */
   $(document).on('click', 'button[name=delete]', function(evt){
      evt.preventDefault();
      // Need to swap the names of this line with the last line
      var allButtons = $('button[name=delete]');
      $(this).parent().remove();
    });
  });
</script>

{% end %}
