{% extends "default.html" %}
{% block title %}List of host rewrites{% end %}
{% block content %}
  <div class="layout">

    {% if origin %}
    <a class="pure-button" href="/origin/{{ origin }}{% if host is not None %}/host/{{ host }}{% end %}">Back to Session</a>
    <a class="pure-button" href="/rewrites">Show all rewrites</a>
    {% else %}
    <a class="pure-button" href="/">Back to Home</a>
    {% end %}
    {% if item is not None %}
    <a class="pure-button" href="/item/{{ item }}?{% if origin %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}">Back to Request</a>
    {% end %}

    <a class="pure-button" href="/rewrites/add?{% if item is not None %}&amp;item={{ item }}{% end %}{% if origin %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}">Add Rewrite</a>
<div class="pure-g">
<div class="pure-u">

{% if len(items) != 0 %}
<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <th>
      Active
    </th>
    <th>
      Host Rewrite
    </th>
    {% if not origin %}
    <th>
      Origin
    </th>
    {% end %}
    <th>
    </th>
  </thead>
  <tbody>
{% for row in items %}
  <tr>
    <td>
      <form method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="{% if row['active'] %}disable{% else %}enable{% end %}" />
        <button>{% if row['active'] %}Turn OFF{% else %}Turn ON{% end %}</button>
      </form>
    </td>
    <td>
      <a href="/rewrite/{{ row['_id'] }}?{% if origin %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}{% if item is not None %}&amp;item={{ item }}{% end %}">
      {% if row['protocol'] %}{{ row['protocol'] }}://{% end %}{% if row['host'] %}{{ row['host'] }}{% end %}
      <br />
      => {% if row['dprotocol'] %}{{ row['dprotocol'] }}://{% end %}{% if row['dhost'] %}{{ row['dhost'] }}{% elif row['host'] %}{{ row['host'] }}{% end %}
      </a>
    </td>
    {% if not origin %}
    <td>
      {% if 'origin' in row %}{{ row['origin'] }}{% end %}
    </td>
    {% end %}
    <td>
      <form method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
        <button>X</button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

</div>
</div>
</div>

<script src="/static/jquery.min.js"></script>
{% end %}
