{% extends "default.html" %}
{% block title %}Edit a Host Rewrite{% end %}
{% block content %}
        <div class="box">
  <div id="layout">

    <div id="main">
<div class="content">
  <h1 class="content-subhead">Edit Rewrite</h1>
  <form class="pure-form" method="post">
    {% if host is not None %}
    <input type="hidden" name="host" value="{{ host }}" />
    {% end %}
    <input type="hidden" name="id" value="{{ entry['_id'] }}" />

    <div class="pure-form-aligned">
        
    <div class="pure-control-group">
    <label for="active">Active</label>
    <input type="checkbox" name="active" {% if entry['active'] %}checked="checked"{% end %} />
    </div>
      
    <div class="pure-control-group">
    <label for="origin">Origin</label>
    <input type="text" name="origin" size="35" placeholder="IP of client" value="{% if entry['origin'] %}{{ entry['origin'] }}{% elif origin %}{{ origin }}{% end %}" />
    </div>

    <h2>Destination</h2>
    <div class="pure-control-group">
    <label for="ohost"><input type="text" name="protocol" size="5" placeholder="http" value="{% if entry['protocol'] %}{{ entry['protocol'] }}{% end %}" /></label>
    <input type="text" name="ohost" size="35" placeholder="google.com" value="{% if entry['host'] %}{{ entry['host'] }}{% end %}" />
    </div>

    <h2>Rewrite To</h2>
    <div class="pure-control-group">
    <label for="dhost"><input type="text" name="dprotocol" size="5" placeholder="http" value="{% if entry['dprotocol'] %}{{ entry['dprotocol'] }}{% end %}" /></label>
    <input type="text" name="dhost" size="35" placeholder="google.dev" value="{% if entry['dhost'] %}{{ entry['dhost'] }}{% end %}" />
    </div>
    
    </div>
    

    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

</div>
</div>
</div>
        </div>

<script src="/static/jquery.min.js"></script>
{% end %}
