<!doctype html>
<html lang="en">
  <head>
    <title>Gianni's Proxy</title>
<style type="text/css">
  .hidden {
    display: none;
  }
</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
<link rel="stylesheet" href="http://purecss.io/combo/1.15.3?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css">

  </head>
  <body>

  <div id="layout">

    <div id="main">
<div class="content">
  <h2 class="content-subhead">Edit Rule</h2>
  <form class="pure-form pure-form-stacked" method="post">
    <input type="hidden" name="id" value="{{ item['_id'] }}" />
    <label for="host">Host</label>
    <input type="text" name="host" size="40" placeholder="google.com" value="{% if item['host'] != False %}{{ item['host'] }}{% end %}" />
    <label for="path">Path</label>
    <input type="text" name="path" size="40" placeholder="/path/to" value="{% if item['path'] != False %}{{ item['path'] }}{% end %}" />
    <label for="query">Query</label>
    <input type="text" name="query" size="40" placeholder="query=1" value="{% if item['query'] != False %}{{ item['query'] }}{% end %}" />
    <label for="method">Method</label>
    <input type="text" name="method" size="10" placeholder="GET" value="{% if item['method'] != False %}{{ item['method'] }}{% end %}" />
    <label for="status">Status</label>
    <input type="text" name="status" size="10" placeholder="200" value="{% if item['status'] != False %}{{ item['status'] }}{% end %}" />
    <label for="response">Response Id</label>
    <input type="text" name="response" size="40" placeholder="5395c5a55b8e31ad95d4ed43" value="{% if item['response'] != False %}{{ item['response'] }}{% end %}" />
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

</div>
</div>
</div>

<script src="/static/jquery.min.js"></script>
</body>
</html>
