{% extends "default.html" %}
{% block title %}List of rules{% end %}
{% block content %}
<div class="top-button">
  <a class="pure-button pure-button-primary" href="/rules/add{% if host %}?host={{ host }}{% end %}">Add Mock</a>
  {% if host %}<a class="pure-button top-right" href="/rules"><i class="mdi mdi-close-circle"></i> Host: {{ host }}</a>{% end %}
</div>
        <div class="box">

  <div class="layout">


{% if len(items) != 0 %}
<table class="full-width">
  <thead>
    <th class="active">
      Active
    </th>
    <th>
      Method
    </th>
    <th>
      Host
    </th>
    <th>
      Path
    </th>
    {% if not origin %}
    <th>
      Origin
    </th>
    {% end %}
    <th class="delete">
    </th>
  </thead>
  <tbody>
{% for row in items %}
  <tr>
    <td>
      <form name="activateForm" method="post">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="{% if row['active'] %}disable{% else %}enable{% end %}" />
        <input type="checkbox" id="cmn-toggle-{{ row['_id'] }}" class="cmn-toggle cmn-toggle-round" {% if row['active'] %}checked="checked"{% end %} />
        <label for="cmn-toggle-{{ row['_id'] }}"></label>
      </form>
    </td>
    <td>
      {% if row['method'] %}
      <span class="method-{{ row['method'] }}">
      {{ row['method'] }}
      </span>
      {% else %}
      <i class="fa fa-asterisk"></i>
      {% end %}
    </td>
    <td>
      <a href="/rule/{{ row['_id'] }}?{% if origin %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}{% if item is not None %}&amp;item={{ item }}{% end %}">
      {{ row['host'] }}
      </a>
    </td>
    <td>
      {% if row['path'] %}
      {{ row['path'] }}
      {% else %}
      <i class="fa fa-asterisk"></i>
      {% end %}
    </td>
    {% if not origin %}
    <td>
        {% if row['origin'] %}<a href="/rules?origin={{ row['origin'] }}">{{ row['origin'] }}</a>{% end %}
    </td>
    {% end %}
    <td class="delete">
      <form method="post" name="deleteForm">
        <input type="hidden" name="ident" value="{{ row['_id'] }}" />
        <input type="hidden" name="action" value="delete" />
          <button class="btn" name="delete"><i class="fa fa-times"></i></button>
      </form>
    </td>
  </tr>
{% end %}
  </tbody>
</table>
{% end %}

</div>
        </div>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    $('form[name=deleteForm] button[name=delete]').on('click', function(evt){
      var t = evt.currentTarget;
      evt.preventDefault();
      if (confirm("Are you sure you want to delete this rule?")) {
        var id = t.parentNode.querySelector('input[name=ident]').value;
        $.post("/rules", {ident: id, action: "delete"}, function(data, status) {
          var row = t.parentNode.parentNode.parentNode;
          row.parentNode.removeChild(row);
        });
      }
    });
    $('form[name=activateForm] input[type=checkbox]').on('click', function(evt){
      var id = evt.target.parentNode.querySelector('input[name=ident]').value;
      var action = evt.target.checked ? "enable" : "disable";
      $.post("/rules", {ident: id, action: action});
      
    });
</script>
{% end %}
