<!doctype html>
<html lang="en">
  <head>
    <title>Gianni's Proxy</title>
<style type="text/css">
  .hidden {
    display: none;
  }
</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
<link rel="stylesheet" href="http://purecss.io/combo/1.15.3?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css">

  </head>
  <body>

  <div id="layout">

    <div id="main">
<div class="content">
    <a class="pure-button" href="/rules?{% if item is not None %}&amp;item={{ item }}{% end %}{% if origin is not None %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}">Rules list</a>
  {% if item is not None %}
    <a class="pure-button" href="/item/{{ item }}?{% if origin is not None %}&amp;origin={{ url_escape(origin) }}{% end %}{% if host is not None %}&amp;host={{ host }}{% end %}">Back to Request</a>
  {% end %}
  <h2 class="content-subhead">Add Rule</h2>
  <form class="pure-form pure-form-stacked" method="post">
    {% if host is not None %}
    <input type="hidden" name="host" value="{{ host }}" />
    {% end %}
    {% if origin is not None %}
    <input type="hidden" name="origin" value="{{ origin }}" />
    {% end %}
    {% if item is not None %}
    <input type="hidden" name="item" value="{{ item }}" />
    {% end %}
    <label for="host">Host</label>
    <input type="text" name="rhost" size="40" {% if host %}value="{{ host }}"{% end %} placeholder="google.com" />
    <label for="path">Path</label>
    <input type="text" name="path" size="40" placeholder="/path/to" {% if entry %}value="{{ entry['request']['path'] }}"{% end %} />
    <label for="query">Query</label>
    <input type="text" name="query" size="40" placeholder="query=1" {% if entry %}value="{{ entry['request']['query'] }}"{% end %} />
    <label for="method">Method</label>
    <input type="text" name="method" size="10" placeholder="GET" {% if entry %}value="{{ entry['request']['method'] }}"{% end %} />
    <label for="status">Status</label>
    <input type="text" name="status" size="10" placeholder="200" {% if entry %}value="{{ entry['response']['status'] }}"{% end %} />
    <label for="response">Response Id</label>
    <input type="text" name="response" size="40" placeholder="5395c5a55b8e31ad95d4ed43" value="{% if item %}{{ item }}{% end %}" />
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </form>
  {% if tryagain %}
    Try again
  {% end %}

</div>
</div>
</div>

<script src="/static/jquery.min.js"></script>
</body>
</html>
